@charset "UTF-8";

/* --- jornada.css --- */

body {
/*    background-image: url(../imagenes/fondo_MADERA3.jpg);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #a0bab3;*/
    /* background-color: #b3c9c5;*/
    background-color: #dedede;
    margin: 0;
    padding: 0;
    font-family: Times,"Times New Roman",serif;
    font-size: 16px;
}

#Boxbanner{
    display: flex !important;
    height: auto !important;
    width: 100% !important;
}
a {
    text-decoration: none;
    outline: none;
}

q:before {
	content: "\201c";
}

q:after {
	content: "\201d";
}

object {
    z-index: 0;
}

.main-block {
    /*background-image: url(../imagenes/fondo-papel.png);
    background-repeat: repeat-y;*/
    width: 910px;
    margin: auto;
    padding-left: 23px;
    padding-right: 62px;
    background-color: transparent;
}


#main-cont {
    /*background-color: #e2e4db;
    background-image: url(../imagenes/fondo-papel.png);
    background-repeat: repeat-y;
    background-position: -23px 0;*/
    background-color: #FFF !important;
    background-image: none;
    -webkit-box-shadow: 0px -1px 25px 0px rgba(170,170,170,1);
    -moz-box-shadow: 0px -1px 25px 0px rgba(170,170,170,1);
    box-shadow: 0px -1px 25px 0px rgba(170,170,170,1);
    width: 835px;
    padding-top: 16px;
    padding-left: 37px;
    padding-right: 62px;
}

.cont {
/*    opacity: 0.75;*/
}

.main-remate {
    margin: auto;
    position: relative;
    top: -46px;
    width: 995px;
    height: 138px;
}

.top-banner {
    margin: auto;
    z-index: 10;
    position: relative;
}

/* IFRAME EXPAN*/

#google_ads_iframe_/70932171/ndeportes_top_0{
        height: 400px;
}


.top-heading {
    margin: auto;
    height: 106px;
    margin-top: 10px;
}

.top-heading .heading {
    position: relative;
    top: 16px;
}

.top-heading .banner {
    width: 224px;
    height: 84px;
    float: left;
    padding-top: 9px;
}

.top-heading .logo {
    float: right;
    height: 34px;
/*    height: 31px; */
    border: none;
}

.top-heading .title {
    padding-left: 8px;
}

.top-heading div.title {
    display: inline-block;
    font-size: 44px;
    font-weight: bold;
    padding-top: 42px;
    white-space: nowrap;
    width: 0;
    overflow: visible;
}

.top-heading .icon {
    width: 42px;
    height: 42px;
    position: absolute;
    left: 181px;
    top: 51px;
}

.top-heading .penta {
    position: relative;
    width: 400px;
    clear: none;
    left: 232px;
    top: 9px;
}

.top-logo {
    width: 442px;
    height: 80px;
}

.iab {
}

.iab.medium-rectangle	{ width: 300px; height: 250px; }
.iab.square-popup	{ width: 250px; height: 250px; }
.iab.vertical-rectangle	{ width: 240px; height: 400px; }
.iab.large-rectangle	{ width: 336px; height: 280px; }
.iab.rectangle		{ width: 180px; min-height: 150px; }
.iab.rectangle-3-1	{ width: 300px; height: 100px; }
.iab.pop-under		{ width: 720px; height: 300px; }

.iab.button1		{ width: 120px; height: 90px; }
.iab.leaderboard	{ width: 728px; height: 90px; }

.iab.wideskycraper	{ width: 160px; height: 600px; }

.icon {
    width: 22px;
    height: 22px;
}

.button {
    padding: 6px;
    color: #bd2e26;
}

.button-disable {
    padding: 6px;
    opacity: 0.5;
    cursor: default;
}

.button:hover {
    border: 1px solid;
    border-top-color: #a0a0a0;
    border-left-color: #a0a0a0;
    border-right-color: black;
    border-bottom-color: black;
    padding: 5px;
}

.button:active, .button.sunk {
    border: 1px solid;
    border-top-color: black;
    border-left-color: black;
    border-right-color: #a0a0a0;
    border-bottom-color: #a0a0a0;
    padding: 5px 4px 5px 6px;
    background-color: white;
}

.penta {
    clear: both;
    background-image: url(../imagenes/pentav2.jpg);
    background-repeat: repeat-x;
    height: 9px;
    font-size: 1px;
    position: relative;
}

.penta-fecha {
    margin-top: 7px;
}

.main-fecha {
    position: relative;
    background-color: #e2e4db;
    top: -6px;
    white-space: nowrap;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
    float: right;
}

.main-fecha img {
    vertical-align: middle;
    border: none;
}

.main-fecha a:first-child {
    padding-right: 6px;
}

.main-fecha a {
    padding-left: 6px;
}

.main-calendar {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
    background-color: #e2e4db;
    border: 1px solid black;
    position: absolute;
    z-index: 100000;
    display: none;
    top: 0;
/*    left: 0;*/
    left: 423px;
    width: 410px;
}

.main-calendar .title {
    color: #9d0e06;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    position: relative;
    margin: 0.67em 0;
    cursor: default;
}

.main-calendar .close {
    color: black;
    font-size: 21px;
    position: absolute;
    left: 389px;
    cursor: pointer;
}

.main-calendar .cont {
    background-color: white;
    padding: 10px;
    height: 196px;
}

.main-calendar .portadita {
    float: right;
    height: auto;
    width: 166px;
}

.main-calendar .go-hoy {
    margin-top: 9px;
    text-align: center;
    text-decoration: underline;
    width: 226px;
    cursor: pointer;
    color: #9d0e06;
}

.main-sections {
    float: left;
    font-size: 0;
    position: relative;
    left: -8px;
    width: 525px;
    min-height: 44px;
}

.main-sections table {
    border-collapse: collapse;
}

.main-sections td {
    padding: 0;
}

.main-sections a {
    padding-right: 3px;
}

.main-sections img {
    border: 0;
    height: 21px;
    margin-top: 8px;
}

.main-toolbar {
    float: right;
    margin-top: 7px;
    margin-right: 5px;
    height: 22px;
}

.main-toolbar img {
    border: none;
    width: 22px;
    padding-right: 4px;
}

.main-search {
    float: right;
    margin-top: 9px;
}

.main-search-input {
    height: 17px;
    width: 165px;
    background-color: white;
    margin: 0;
}

.main-search-input .go {
    float: right;
    padding-right: 2px;
    vertical-align: top;
    position: relative;
    top: 4px;
}

.main-search-input .text {
    font-weight: bold;
    vertical-align: top;
    font-size: 9px;
    line-height: 16px;
    padding: 0 5px;
    border: none;
    background-color: transparent;
    width: 142px;
    position: relative;
    top: 2px;
}

.main-search-logo {
    margin-top: 5px;
    text-align: right;
    font-size: 0;
}

.main-search-logo img {
    width: 38px;
    height: 13px;
}

.main-menu {
    -moz-user-select: none;
    font-size: 11px;
    font-family: Helvetica,Arial,sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.main-menu a {
    padding: 0 4px;
}

.main-menus {
    float: right;
    margin-top: 11px;
}

.main-menus a {
    color: black;
    padding-bottom: 1px;
}

.main-menus a.selected {
    color: white !important;
    background-color: gray !important;
}

.main-menus a:hover {
    color: white;
    background-color: #c0c0c0;
}

.main-menus a:visited:hover {
    color: white;
}

.main-menus a.final:hover {
    color: #9d0e06;
}

.main-menus a.final:visited:hover {
    color: #9d0e06;
}

#main-submenus .main-menu {
    text-align: center;
    background-color: gray;
    display: none;
}

#main-submenus a {
    color: white;
}

#main-submenus a:hover {
    color: #9d0e06;
    background-color: #c0c0c0;
}

.breadcrumb {
    background-image: url(../imagenes/breadcrumb.png);
    background-repeat: no-repeat;
    font-size: 12px;
    font-family: Helvetica,Arial,sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 7px;
    padding: 3px 0 4px 10px;
    color: black;
    width: 522px;
}

.breadcrumb span {
    color: #bd2e26;
    padding: 4px;
}

.breadcrumb a {
    color: black;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.main-side {
    float: right;
    width: 180px;
    margin-top: 13px;
}

.main-side.side-wide {
    width: 300px;
}

.main-side .sider {
    margin-bottom: 32px;
}

.main-side .sider img {
    width: 180px;
    height: 50px;
    border: none;
}

.main-ads {
    text-align: center;
}

.main-ads .iab {
    margin: 0 auto 16px auto;
}

.main-cont {
    width: 642px;
}

.main-cont .penta {
    clear: none;
}

.main-guard {
    clear: both;
    height: 1px;
}

.main-sumarios {
    margin-top: 10px;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 12px;
    color: black;
}

.main-sumarios .col1 {
    float: left;
    width: 420px;
}

.main-sumarios .col1 td {
    width: 50%;
}

.main-sumarios .col2 {
    float: right;
    width: 385px;
}

.main-sumarios table.col2 {
    margin-top: 15px;
}

.main-sumarios table td {
    vertical-align: top;
}

.main-sumarios table.col1 td:first-child {
    padding-right: 15px;
}

.main-sumarios .title {
    color: #ad1017;
    clear: right;
}

.main-sumarios .banner {
    background-repeat: no-repeat;
    height: 20px;
    margin-bottom: 5px;
}

.main-sumarios .banner img {
    width: 30%;
    height: 100%;
    border-left: 48px solid #e2e4db;
}

.main-sumarios .title a, .main-sumarios .title span {
    color: #ad1017;
    font-size: 14px;
    font-weight: bold;
    padding-left: 7px;
    vertical-align: top;
    position: relative;
    top: 2px;
}

.main-sumarios .title a:visited {
    color: inherit;
}

.main-sumarios ul {
    padding-left: 20px;
    margin: 0;
    list-style-type: square;
    color: #ad1017;
    font-size: 16px;
    line-height: 12px;
}

.main-sumarios li {
    padding-bottom: 5px;
}

.main-sumarios a {
    font-size: 11px;
    color: black;
}

.main-sumarios a:hover {
    text-decoration: underline;
}

.main-sumarios a:visited {
    color: black;
}

.main-sumarios .credito-primera {
    width: 75%;
    top: -9px;
}


.main-sumarios div.col2 .credito-primera {
    top: 0;
}

.lupa {
    background-color: white;
    border: 1px dashed black;
    position: absolute;
    font-size: 15px;
    line-height: normal;
    padding: 8px 12px;
    z-index: 1000;
}

.lupa * {
    font-size: inherit !important;
}

.main-footer {
    margin-top: 10px;
}

.main-footer .iab {
    margin-bottom: 10px;
}

.main-footer hr {
    border: none;
    border-top: 1px solid #626366;
    height: 0;
}

#footer-image{
    display: none !important;
}

.main-fecha {
    background-color: #fff !important;
}


.site-links {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 10px;
    text-align: center;
}

.gui, .iab, .nosel {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.print {
    display: none;
}

@media print {
    .gui, .iab, .penta, .noprint {
	display: none !important;
    }

    div.print {
	display: block;
    }

    span.print, img.print {
	display: inline;
    }

    body, body * {
	background-color: transparent !important;
    }

    body, .main-cont, #main-cont, .main-block {
	padding: 0;
	margin: auto;
	width: auto;
	/*background-image: none;*/
	background-image: none !important;
    }

    .lupa {
	border: none;
	position: static;
	font-size: inherit;
	line-height: inherit;
	padding: 0;
    }

    .main-footer {
	clear: both;
    }

    .top-heading .icon {
	float: left;
	position: static;
	vertical-align: top;
    }

    .top-heading .title {
	float: left;
	vertical-align: top;
	padding-top: 0 !important;
    }
}


.spritemenu {
    height: 20px;
    margin-top: 8px;
    background-image: url('../imagenes/sprites/sprite-jornada.png');
}
.spritemenuelecciones {
    height: 20px;
    margin-top: 8px;
    background-image: url('../imagenes/sprites/sprite-elecciones.png');
    background-position: 0 -9px;
    width: 65px;
}

.spritemenu.portada{
    background-position: 0px -2px;
    width: 49px;
}
.spritemenu.portada.selected{
    background-position: -100px -2px;
}
.spritemenu.editoclass{
    background-position: 0px -52px;
    width: 70px;
}
.spritemenu.editoclass.selected{
    background-position: -100px -52px;
}
.spritemenu.correoclass{
    background-position: 0px -758px;
    width: 65px;
}
.spritemenu.correoclass.selected{
    background-position: -100px -758px;
}
.spritemenu.opinionclass{
    background-position: 0px -102px;
    width: 60px;
}
.spritemenu.opinionclass.selected{
    background-position: -100px -102px;
}
.spritemenu.politicaclass{
    background-position: 0px -152px;
    width: 60px;
}
.spritemenu.politicaclass.selected{
    background-position: -100px -152px;
}
.spritemenu.economiaclass{
    background-position: 0px -203px;
    width: 65px;
}
.spritemenu.economiaclass.selected{
    background-position: -100px -203px;
}
.spritemenu.mundoclass{
    background-position: 0px -253px;
    width: 55px;
}
.spritemenu.mundoclass.selected{
    background-position: -100px -253px;
}
.spritemenu.estadosclass{
    background-position: 0px -405px;
    width: 60px;
}
.spritemenu.estadosclass.selected{
    background-position: -100px -405px;
}

.spritemenu.capitalclass{
    background-position: 0px -304px;
    width: 55px;
}
.spritemenu.capitalclass.selected{
    background-position: -100px -304px;
}
.spritemenu.sociedadclass{
    background-position: 0px -354px;
    width: 60px;
}
.spritemenu.sociedadclass.selected{
    background-position: -100px -354px;
}
.spritemenu.deportesclass{
    background-position: 0px -657px;
    width: 60px;
}
.spritemenu.deportesclass.selected{
    background-position: -100px -657px;
}
.spritemenu.culturaclass{
    background-position: 0px -556px;
    width: 60px;
}
.spritemenu.culturaclass.selected{
    background-position: -100px -556px;
}
.spritemenu.espectaculosclass{
    background-position: 0px -607px;
    width: 75px;
}
.spritemenu.espectaculosclass.selected{
    background-position: -100px -607px;
}
.spritemenu.fotografiaclass{
    background-position: 0px -455px;
    width: 75px;
}
.spritemenu.fotografiaclass.selected{
    background-position: -100px -455px;
}
.spritemenu.cartonesclass{
    background-position: 0px -708px;
    width: 60px;
}
.spritemenu.cartonesclass.selected{
    background-position: -100px -708px;
}
.spritemenu.cienciasclass{
    background-position: 0px -505px;
    width: 60px;
}
.spritemenu.cienciasclass.selected{
    background-position: -100px -505px;
}
.spritemenu.adiccionesclass{
    background-position: 0px -1339px;
    width: 60px;
}
.spritemenu.adiccionesclass.selected{
    background-position: -100px -1339px;
}
.spritemenu.turismoclass{
    background-position: 0px -1383px;
    width: 60px;
}
.spritemenu.turismoclass.selected{
    background-position: -100px -1383px;
}

.summary.icon {
   background-image: url(/v7.0/imagenes/sprites/sprite-jornada.png);
   width: 22px; 
   height: 22px;
   float: left;
}
.banner.gui {
   background-image: url(/v7.0/imagenes/sprites/sprite-banners.jpg);
}

.summary.ref.title {
  padding-bottom: 20px;
  vertical-align: middle;
}

/* --- impresa.css --- */

.page {
	font-family: "Times New Roman",serif;
	position: relative;
	height: 725px;
	margin: 10px 0;
}

.part {
	position: absolute;
	top: 0;
	left: 0;
}

.aviso {
	font-size: 20px;
}

.aviso.p17	{ font-size: 17px;	line-height: 17.50px; }
.aviso.p20	{ font-size: 20px;	line-height: 21px; }
.aviso.p21_5	{ font-size: 21.50px;	line-height: 22.50px; }
.aviso.p22_5	{ font-size: 22.50px;	line-height: 23px; }

.balazo {
	clear: both;
	padding-bottom: 3px;
	font-weight: bold;
}

.balazo.blanco {
	font-weight: normal;
}

.balazo:before {
	padding-right: 0.75ex;
}

.balazo.p16:before { content: url("../imagenes/balas/sol-09.png"); }
.balazo.p22:before { content: url("../imagenes/balas/sol-13.png"); }

.balazo.p16	   { font-size: 16px; line-height: 18px; top: 2px; }
.balazo.p22	   { font-size: 22px; line-height: 23px; top: 3px; }

.balazo.mar { /* Balazo de Mar de Historias */
	text-align: center;
	padding-top: 1px;
	padding-bottom: 6px;
	line-height: 22px;
	font-size: 22px;
}

.balazo.mar:before {
	content: '';
}

.body-text {
	clear: none !important;
	text-align: justify;
	text-indent: 6px;
	line-height: 7.30px;
	font-size: 7px;
}

.body-text.normal {
	text-indent: 3ex;
	font-size: 16px;
	line-height: 20px;
}

.body-text.s-s {
	text-indent: 0;
}

.cabeza-foto {
	text-align: center;
	font-variant: small-caps;
	font-weight: bold;
	padding-bottom: 7px;
}

.cabeza-foto.p18 { font-size: 18px; line-height: 20px; }
.cabeza-foto.p22 { font-size: 22px; line-height: 20px; }

.cabeza {
	font-size: 60px;
/*	font-weight: bold;*/
}

.cabeza.p22	{ font-size: 22px;	line-height: 23px; }
.cabeza.p28	{ font-size: 28px;	line-height: 30px; }
.cabeza.p30	{ font-size: 30px;	line-height: 30px; }
.cabeza.p34	{ font-size: 34px;	line-height: 34px; }
.cabeza.p48	{ font-size: 48px;	line-height: 48px; }
.cabeza.p60	{ font-size: 60px;	line-height: 60px; }

.cabeza.cabezota {
	font-size: 70px;
	line-height: 70px;
}

.cabeza.mar {
	text-align: center;
	line-height: 44px;
	font-size: 44px;
}

.cargo {
	text-align: right;
	padding-left: 4.17px;
	line-height: 9px;
	font-family: Arial,sans-serif;
	font-size: 9px;
	position: relative;
	top: -1px;
}

.credito-articulo {
	text-align: center;
	line-height: 12px;
	text-decoration: underline;
	font-family: Arial,sans-serif;
	font-size: 11px;
	font-variant: small-caps;
}

.credito-autor {
	padding-left: 0.6ex;
	line-height: 12px;
	border-bottom: 1px solid #626366;
	border-left: 1ex solid #626366;
	font-family: Arial,sans-serif;
	font-size: 10px;
	font-variant: small-caps;
	/* Missing: Scale: 90% */
	position: relative;
	top: 1px;
}

.credito-primera {
	white-space: nowrap;
	overflow: hidden;
	line-height: 14px;
	border-bottom: 1px solid #626366;
	float: right;
	font-family: Arial,sans-serif;
	font-size: 13px;
	font-weight: bold;
	font-variant: small-caps;
	/* Missing: Scale: 70% */
	padding-bottom: 2px;
	position: relative;
	top: 1.11px;
	width: 75%;
}

.credito-primera div {
	display: inline;
}

.credito-primera .pleca {
	position: relative;
	top: 5px;
	letter-spacing: normal;
	float: right;
}

.credito-primera .pleca:before {
	content: url("../imagenes/balas/bala-08.png");
}

.editorial {
	text-align: justify;
	line-height: 10px;
	font-size: 10px;
	font-style: italic;
}

.epigrafe {
	padding-left: 1px;
	line-height: 10px;
	font-size: 10px;
	font-style: italic;
}

.escriben {
	text-align: center;
	line-height: 11px;
	font-size: 11px;
	font-weight: bold;
}

.fecha {
	line-height: 14px;
	font-family: Arial,sans-serif;
	font-size: 14px;
	font-weight: bold;
}

.fecha-lugar-body {
	text-align: justify;
	line-height: 14px;
	font-family: Arial,sans-serif;
	font-size: 12px;
	font-weight: bold;
	font-variant: small-caps;
/* Missing: Scale: 70% */
}

.normal {
	text-align: justify;
	text-indent: 6px;
	line-height: 10px;
	font-size: 10px;
}

.pie-foto {
	text-align: justify;
	line-height: 11.50px;
	font-family: Arial,sans-serif;
	font-size: 11px;
	/* Missing: Scale: 90% */
	text-align: justify;
}

.pie-foto .credito {
	font-weight: bold;
	font-size: 11px;
	white-space: nowrap;
}

.pie-foto .credito:before {
	content: url("../imagenes/balas/sol-06.png");
	padding-right: 0.5ex;
	padding-left: 0.5ex;
}

.rayuela {
	line-height: 10px;
	font-size: 10px;
	position: relative;
	top: 4px;
}

.subtitulos-body-text {
	line-height: 12.50px;
	font-size: 12px;
	font-weight: bold;
	/* Missing: Scale 75% */
	position: relative;
	top: 10px;
}

.sumario {
	font-weight: bold;
}

.sumario:before {
	padding-right: 0.75ex;
}

.sumario.blanco {
	font-weight: normal;
}

.sumario.p10_5:before {
	content: url("../imagenes/balas/sol-06.png");
}
.sumario.p11_5:before,
.sumario.p12:before {
	content: url("../imagenes/balas/sol-07.png");
}
.sumario.p12_5:before,
.sumario.p13:before,
.sumario.p13_5:before,
.sumario.p14:before {
	content: url("../imagenes/balas/sol-08.png");
}
.sumario.p14_5:before,
.sumario.p15:before,
.sumario.p15_5:before,
.sumario.p16:before {
	content: url("../imagenes/balas/sol-09.png");
}
.sumario.p16_5:before,
.sumario.p18:before {
	content: url("../imagenes/balas/sol-10.png");
}

.sumario.p10_5		{ font-size: 10.50px;	line-height: 11px; }
.sumario.p11_5		{ font-size: 11.50px;	line-height: 12.50px; }
.sumario.p12		{ font-size: 12px;	line-height: 13px; }
.sumario.p12_5		{ font-size: 12.50px;	line-height: 13.50px; }
.sumario.p13		{ font-size: 13px;	line-height: 14px; }
.sumario.p13_5		{ font-size: 13.50px;	line-height: 14.50px; }
.sumario.p14		{ font-size: 14px;	line-height: 15px; }
.sumario.p14_5		{ font-size: 14.50px;	line-height: 15.50px; }
.sumario.p15		{ font-size: 15px;	line-height: 16px; }
.sumario.p15_5		{ font-size: 15.50px;	line-height: 16.50px; }
.sumario.p16		{ font-size: 16px;	line-height: 17px; }
.sumario.p16_5		{ font-size: 16.50px;	line-height: 17.50px; }
.sumario.p18		{ font-size: 18px;	line-height: 19px; }

.texto-negro {
	text-align: justify;
	text-indent: 6px;
	line-height: 10px;
	font-size: 10px;
	font-weight: bold;
}

.inicial {
	float: left;
	font-size: 28px;
	line-height: 20.50px;
	padding-right: 2px;
}

.inicial q:after {
	content: '';
}

.inicial + p q:first-child:before {
	content: '';
}

.borde { border: 1px solid black; }
.borde-sup { border-top: 1px solid black; }
.borde-der { border-right: 1px solid black; }
.borde-inf { border-bottom: 1px solid black; }
.borde-izq { border-left: 1px solid black; }

.alin-izq { text-align: left; }
.alin-cen { text-align: center; }
.alin-der { text-align: right; }
.alin-jus { text-align: justify; }

.page div {
	clear: both;
}

.page a {
	color: inherit;
	text-decoration: inherit;
}

.page img {
	border: 1px solid black;
}

.page img.todoancho {
	width: 100%;
}

.page p {
	clear: both;
	margin: 0;
}

/* --- portada.css --- */

.page.cont {
    height: 750px;
}

.penta .contra-label {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 9px;
    width: 120px;
    text-align: center;
    margin: auto;
    background-color: #e2e4db;
    text-transform: uppercase;
}

.portada-rayuela {
    margin: 10px 0;
    min-height: 90px;
}

.rayuela-box {
    width: 185px;
    font-family: Times,"Times New Roman",serif;
    font-size: 13px;
    font-weight: normal;
}

.rayuela-head {
    font-size: 28px;
    font-family: Impact,sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    line-height: 22px;
    white-space: nowrap;
    margin-bottom: 2px;
}

.rayuela-logo {
    width: 30px;
    height: 30px;
    vertical-align: top;
}

.rayuela-title {
    padding-left: 34px;
    position: relative;
    top: 4px;
}

.rayuela-title img {
    height: 22px;
    width: 116px;
}

#rayuela-ads {
    font-size: 0;
    float: right;
    margin: auto;
    width: 430px;
    white-space: nowrap;
}

#rayuela-ads .iab {
    margin-left: 23px;
    float: left;
}

#rayuela-ads .iab:first-child {
    margin-left: 0;
}

#rayuela-ads img {
    border: none;
}

.portada-boxen {
    margin-top: 10px;
    margin-bottom: 22px;
}

.portada-boxen .credito-primera {
    top: -2px;
    width: 75%;
}

.video-box-pleca {
    width: 420px;
}

.portada-micro {
    margin: 5px 0;
    break: both;
    overflow: hidden;
    height: 76px;
    white-space: nowrap;
}

.micro-box {
    margin-left: 25px;
    float: left;
}

.micro-box img {
    width: 135px;
    height: 74px;
    border: 1px solid black;
}

.duplamicro-box {
    margin-left: 25px;
    float: left;
}

.duplamicro-box img {
    width: 135px;
    height: 33px;
    border: 1px solid black;
}

.portada-micro .micro-box:first-child {
    margin-left: 0;
}

.portada-mas {
    padding-left: 26px;
    padding-bottom: 20px;
    cursor: pointer;
    background-position: 0 130px;
}

.portada-mas .portada-mas {
    background-position: 0 101px;
}

.portada-mas .portada-mas .portada-mas {
    background-position: 0 73px;
}

.portada-mas .title {
    font-size: 51px;
    color: white;
    overflow: visible;
    white-space: nowrap;
    border-bottom: 1px solid #999999;
    margin-bottom: 5px;
    line-height: 46px;
}

.portada-mas .title span {
    padding-right: 25px;
    vertical-align: inherit;
}

.portada-mas.leidas {
    background-color: #58737b;
    background-image: url(../imagenes/mas-leidas-trans.png);
    background-repeat: no-repeat;
}

.portada-mas.leidas.hover {
    background-color: #78939b;
}

.portada-mas.enviadas {
    background-color: #637b80;
    background-image: url(../imagenes/mas-enviadas-trans.png);
    background-repeat: no-repeat;
}

.portada-mas.enviadas.hover {
    background-color: #839ba0;
}

.portada-mas.comentadas {
    /*background-color: #809191;
    background-image: url(../imagenes/mas-comentadas-trans.png);
    background-repeat: no-repeat;*/
}

.portada-mas.comentadas.hover {
    /*background-color: #a0b1b1;*/
}

#mas-cont {
    cursor: auto;
    padding-right: 20px;
}

#mas-list {
    min-height: 215px;
}

@media print {
    .top-logo {
	display: none;
    }

    .shadow {
	border: solid black;
	border-top-width: 1pt;
	border-right-width: 4pt;
	border-bottom-width: 4pt;
	border-left-width: 1pt;
/*	outline: 4pt solid #cccccc;*/
	width: 682px;
	height: 910px;
	margin: auto;
	text-align: center;
	padding: 10px;
    }

    .shadow:before {
	content: url(../imagenes/la-jornada-trans.png);
    }

    .shadow .page {
	text-align: left;
    }

    .page {
	position: relative;
	top: 20px;
	left: 20px;
	width: 642px;
	height: 760px;
	margin: 0;
    }

    .portada-rayuela {
	min-height: 0;
	margin: 10px auto 0 auto;
	width: 642px;
	page-break-after: left;
    }

    .rayuela-head {
	float: left;
	padding-right: 20px;
    }

    .rayuela-box {
	width: auto;
	height: auto;
    }

    .main-cont {
	page-break-after: always;
    }

    .portada-micro {
	height: auto;
	text-align: center;
    }

    .portada-micro:before {
	content: url(../imagenes/la-jornada-trans.png);
    }

    .portada-micro .micro-box {
	display: none;
    }

    .main-sumarios .col1 {
	width: 454px !important;
    }

    .main-sumarios .col2 {
	width: 227px !important;
    }

    .main-sumarios ul {
	page-break-inside: avoid;
    }

    .ultimas-box-pleca {
	width: auto !important;
    }

    #portada-colopi {
	clear: right;
    }
}

/* --- ultimas.css --- */


.news-box{

    background-color: #909fa1; 
    background-color: rgba(92,115,125,.6);
    
}


.news-box ul {
    padding-left: 30px;
    list-style-type: square;
    color: #ad1017;
    font-size: 20px;
    line-height: 15px;
    margin: 0;
}

.news-box li {
    min-height: 38px;
    padding: 0;
    margin: 0;
}

.news-box li * {
    color: black;
    font-size: 12px;
    font-weight: bold;
    vertical-align: top;
}

.news-box li a:hover {
    color: white;
}

.ultimas-box-pleca {
    float: right;
    width: 385px;
}

.ultimas-box {
    min-height: 290px;
   /* background-color: #909fa1;
    background-color: rgba(92,115,125,0.6);*/
}

.ultimas-cont {
    padding: 5px 14px;
    position: relative;
}

.ultimas-cont * {
    font-family: Helvetica,Arial,sans-serif;
}

.ultimas-cont .title {
    background-image: url(../imagenes/logo-jornada-trans.png);
    background-repeat: no-repeat;
    background-position: 327px 50%;
    font-size: 28px;
    font-weight: normal;
    margin-bottom: 14px;
    color: white;
    white-space: nowrap;
}

.ultimas-cont .title a {
    line-height: inherit;
    color: inherit;
}

.ultimas-cont .time {
    color: #ad1017;
    padding-right: 1ex;
}

.ultimas-cont a {
    line-height: 17px;
    color: black;
}

.ultimas-cont .twitter {
    position: absolute;
    top: 248px;
    left: 265px;
}

.side-wide .ultimas-cont .twitter {
    left: 180px;
}

.ultimas-cont .twitter img {
    border-style: none;
}

/*
.ultimas-cont a:visited {
    color: white;
}*/

.ultimas-cont a:hover {
    color: white;
}

.ultimas-ticker {
    min-height: 25px;
    margin: 5px 0;
}

.ultimas-ticker .ultimas-cont {
    padding: 5px 8px;
    margin: 0;
    font-size: 11px;
}

.ultimas-ticker .ultimas-cont a {
    line-height: inherit;
}

.ultimas-ticker .ultimas-cont .title {
    background-image: none;
    font-size: inherit;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    float: left;
    padding-right: 8px;
}

.news-box.ultimas-ticker ul {
    padding-left: 0;
    width: 10000px;
    position: relative;
    left: 25px;
}

.news-box.ultimas-ticker li {
    float: left;
    min-height: 0;
    padding-right: 25px;
}

.news-box.ultimas-ticker li * {
    font-size: 11px;
}

.ultimas-cont .ticker-cont {
    overflow: hidden;
}

@media print {
    .ultimas-cont {
	border: 1pt solid #5c737d;
    }

    .ultimas-cont .title {
	color: black;
    }

    .news-box ul {
	padding-left: 0;
	list-style-type: none;
    }

    .news-box li {
	min-height: 42px;
    }

    .news-box li:before {
	content: "■";
	font-size: 12px;
	padding-right: 1px;
    }
}

/* --- portadita.css --- */

.portadita-body {
    background-color: transparent;
    width: 252px;
    margin: 65px 0 9px 0;
}

.portadita-box {
    width: 180px;
    margin: auto;
}

.portadita {
    position: relative;
    height: 252px;
}

.portadita img {
    width: 150px;
    height: 194px;
    background-color: white;
    position: absolute;
    left: 14px;
    z-index: 10000;
    border: 1px solid;
    border-top-color: #a0a0a0;
    border-left-color: #a0a0a0;
    border-right-color: black;
    border-bottom-color: black;
}

#portadita-widget {
    top: 200px;
    position: relative;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
}

#portadita-widget .label {
    text-align: center;
    padding-top: 9px;
    cursor: default;
}

#portadita-widget .button {
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 6px 6px;
}

#portadita-widget .button:hover {
    background-position: 5px 5px;
}

#portadita-widget .button:active {
    background-position: 6px 6px;
}

#portadita-widget .left {
    background-image: url(../imagenes/icn-dia-ant.png);
    float: left;
}

#portadita-widget .right {
    background-image: url(../imagenes/icn-dia-sig.png);
    float: right;
}

/* --- mini-photo.css --- */

.mini-photo {
    display: none;
    margin-bottom: 5px;
    overflow: hidden;
}

.mini-photo .thumbs {
    white-space: nowrap;
    font-size: 0;
    position: relative;
    left: 0;
    width: 100000px;
}

.mini-photo .thumbs, .mini-photo .thumbs * {
    cursor: url(/v7.0/imagenes/cur-drag.png), url(/v7.0/imagenes/cur-drag.ani), auto;
}

.mini-photo .thumbs div {
    float: left;
    padding-left: 5px;
}

.mini-photo .thumbs div:first-child {
    padding-left: 0;
}

.mini-photo .thumbs a {
    position: relative;
    left: 0px;
}

.mini-photo .thumbs img {
    border: 2px solid black;
    height: 100px;
}

.mini-photo .thumbs a:hover img {
    border-color: #bd2e26;
}

/* --- video.css --- */

#monos-box {
    padding-left: 2px;
}

.video-box, .monos-box {
    overflow: hidden;
    position: relative;
    height: 290px;
    width: 420px;
}

.video-box {
    color: white;
}

.video-box .title, .monos-box .title {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 28px;
    cursor: default;
}

.video-box .video-title {
    position: absolute;
    left: 14px;
    top: 5px;
}

.video-box .monos-title {
    background-color: black;
    position: absolute;
    top: -43px;
    left: 0;
}

.video-box .monos-title div {
    position: relative;
    background-color: white;
    background-image: url(/v7.0/imagenes/fondo_tabs2.png);
    background-repeat: no-repeat;
    color: black;
    width: 406px;
    top: 0;
    left: 189px;
    padding: 5px 0 5px 57px;
    cursor: pointer;
}

.video-box .sensor {
    height: 7px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.video-box {
    background-color: black;
}

.video-obj {
    position: absolute;
    width: 300px;
    height: 250px;
}

.video-overlay {
    position: absolute;
    margin: 7px;
    border: 1px solid #ececec; /*#4e4e4e;*/
    width: 300px;
    line-height: 0;
}

.video-img-overlay {
    height: 223px;
    width: 100%;
    background-color: black;
}

.video-ctl-overlay {
    position: relative;
    text-align: center;
    line-height: normal;
    height: 27px;
    background-image: url(http://www.jornada.unam.mx/imagenes/video_overlay_bg.png);
    background-color: #ececec;
}

.video-ctl-button {
    position: relative;
    top: 2px;
    text-decoration: none;
}

.video-ctl-button * {
    border: none;
    background-color: #e5e5e5;
    cursor: pointer;
}

.video-ctl-button img {
    width: 4px;
    height: 23px;
}

.video-ctl-button-l {
    background-image: url(http://www.jornada.unam.mx/imagenes/video_overlay_button_left.png);
}

.video-ctl-button-r {
    background-image: url(http://www.jornada.unam.mx/imagenes/video_overlay_button_right.png);
}

.video-ctl-button span {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding: 4px 8px;
    position: relative;
    top: 4px;
    vertical-align: top;
    color: #626262;
    background-image: url(http://www.jornada.unam.mx/imagenes/video_overlay_button_bg.png);
}

.video-ctl-button:hover span {
    background-image: url(http://www.jornada.unam.mx/imagenes/video_overlay_button_active_bg.png);
}

.video-ctl-button:hover span {
    background-image: url(http://www.jornada.unam.mx/imagenes/video_overlay_button_active_bg.png);
}

.video-ctl-button:hover .video-ctl-button-l {
    background-image: url(http://www.jornada.unam.mx/imagenes/video_overlay_button_active_left.png);
}

.video-ctl-button:hover .video-ctl-button-r {
    background-image: url(http://www.jornada.unam.mx/imagenes/video_overlay_button_active_right.png);
}

.video-playback {
    padding: 8px 0 0 8px;
}

.video-thumbs {
    position: absolute;
    left: 324px;
    top: 14px;
}

.video-thumb {
    width: 82px;
    margin-bottom: 24px;
}

.video-thumb a {
    text-decoration: none;
}

.video-thumb a img {
    border: 1px solid #ececec;
    width: 80px;
    height: 60px;
}

.video-thumb a:hover img {
    border: 1px solid yellow;
}

.video-caption {
    text-align: center;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 12px;
    margin-top: 4px;
}

.video-box .video-caption {
    position: absolute;
    top: 263px;
    left: 7px;
    width: 300px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
}

.video-more {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 10px;
    text-align: right;
}

.video-box .video-more {
    color: yellow;
    font-weight: bold;
    margin-top: 4px;
    position: absolute;
    left: 324px;
    top: 263px;
    width: 82px;
}

.video-box .video-more a {
    color: inherit;
}

.monos-box {
    overflow: hidden;
    background-color: white;
}

.monos-box .title {
    padding: 5px 0 5px 12px;
}

.monos-box .monos-title {
    overflow: hidden;
    color: black;
    position: absolute;
}

.monos-box .video-title {
    color: white;
    background-color: black;
    background-image: url(/v7.0/imagenes/fondo_tabs.png);
    background-repeat: no-repeat;
    padding-left: 57px;
    position: absolute;
    left: 191px;
    cursor: pointer;
}

.monos-box .video-title .monos-title {
    background-color: white;
    background-image: url(/v7.0/imagenes/fondo_tabs2.png);
    background-repeat: no-repeat;
    margin-left: 90px;
    padding: 6px 62px 5px 57px;
    position: static;
}

.monos-box .mini-photo {
    position: relative;
    top: 48px;
}

.monos-box .mini-photo .thumbs img {
    width: 200px;
    height: 200px;
}

.monos-box .caption {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 12px;
    color: black;
    text-align: center;
}

.monos-box .caption .title2 {
    padding-right: 0.5em;
}

.monos-box .caption .credit {
    font-weight: bold;
    padding-left: 0.5em;
}

/* --- videos.css --- */

.videos-cont {
    width: 522px;
}

.videos-cont .video-box {
    width: 522px;
    height: 418px;
    margin: 7px 0;
}

.videos-cont .video-overlay {
    width: 522px;
    height: 418px;
    margin: 0;
    position: relative;
    line-height: 0;
}

.videos-cont .video-img-overlay {
    height: 391px;
}

.videos-cont .video-playback {
    padding: 0;
    position: absolute;
    top: 1px;
}

.videos-cont .videos-title, .videos-cont .videos-foot {
    font-family: Helvetica,Arial,sans-serif;
}

.videos-cont .videos-title {
    font-size: 20px;
    margin-top: 26px;
    white-space: nowrap;
}

.videos-cont .videos-foot {
    font-size: 12px;
    text-align: justify;
    min-height: 60px;
}

.videos-cont .credito-primera {
    width: 25%;
}

#videos-thumbs {
    display: block;
    visibility: hidden;
    margin-top: 25px;
    clear: right;
    width: 835px;
    height: 130px;
}

/* --- section.css --- */

.section-side {
    margin: 0 0 27px 0;
}

.section-cont a {
    color: black;
}

.section-cont {
    margin: 10px 0;
}

.section-cont .iab {
    margin-top: 10px;
}

.section-cont .iab.finaladd {
    margin-top: 0;
}

.section-cont .start {
    clear: left;
    margin-right: 16px;
}

.section-cont .series {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 6px;
}

.section-cont .cabeza {
    font-size: 24px;
}

.section-cont .start .cabeza {
    font-weight: bold;
}

.section-cont .itemfirst .cabeza {
    line-height: 35px;
    font-weight: bold;
}

.section-cont .sumarios p {
    margin: 16px 0 0 0;
    font-size: 18px;
}

.section-cont .sumarios p:before {
    padding-right: 1ex;
    content: url("../imagenes/balas/sol-09.png");
}

.section-cont .itemfirst .sumarios .credito-primera {
    width: 24%;
}

.section-cont .itemfirst .foto {
    float: left;
    width: 66%;
    margin-right: 20px;
}

.section-cont .foto > img {
    width: 100%;
}

.section-cont .foto > img {
    border: 1px solid black;
}

.section-cont .item {
    float: left;
    width: 48%;
    margin-top: 32px;
}

.section-cont .feet {
    clear: left;
}

.section-cont .item.foot {
    margin-top: 8px;
}

.section-cont .item.foot.first {
    margin-left: 50%;
}

.section-cont .item .credito-primera {
    width: 70%;
}

.section-cont .item > p {
    font-size: 13px;
    text-align: justify;
    margin-bottom: 0;
}

.section-cont .item .inicial {
    font-size: 64px;
    line-height: 75px;
}

.section-cont .item p .loc {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.section-cont .item .more {
}

.section-cont .item .more a {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #bd2e26;
}

.section-cont .item .more a:after {
    padding-left: 4px;
    content: '\25ba';
}

.section-guard {
    height: 13px;
    clear: both;
}

.sacapuntas h1 {
    color: #ad1017;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -1px;
    margin: 0;
    text-transform: uppercase;
    white-space: nowrap;
}

.sacapuntas h1:before {
    content: '■';
    padding-right: 0.5ex;
    font-size: 32px;
}

.sacapuntas p {
    margin: 0;
    font-size: 14px;
}

@media print {
    .section-side {
	margin-top: 18px;
	margin-left: 8px;
	position: static;
    }

    .section-cont .itemfirst .foto {
	width: 40%;
    }

    .section-cont .item {
	page-break-inside: avoid;
    }

    .main-footer {
	margin-top: 8pt;
    }
}

/* --- article.css --- */

.main-cont.article-cont {
    width: 522px;
}

.article-side {
    margin: 0 0 17px 0;
    position: relative;
    top: -10px;
}

.main-side .ultimas-box-pleca {
    width: auto;
    float: none;
    clear: both;
}

.main-side .ultimas-cont .title {
    background-position: 242px;
}

.main-side .main-sumarios .credito-primera {
    top: 0;
    margin-bottom: 16px;
}

.main-side .news-box ul {
    padding-left: 16px;
}

.article-cont {
    margin: 20px 0 10px 0;
}

.article-cont .cabeza {
    margin: 12px 0;
 /*   line-height: 35px; */
    font-weight: bold;
    font-size: 24px;
}

.article-cont.opinion .cabeza, .article-cont.analysis .cabeza {
	text-align: center;
	line-height: 44px;
	font-size: 44px;
}

.article-cont .foto {
    margin-bottom: 10px;
}

.article-cont .series {
    border-bottom: 1px solid #626366;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 12px;
}

.article-cont .sumarios p {
    margin: 0 0 6px 0;
    font-size: 18px;
}

.article-cont .sumarios p:before {
    padding-right: 1ex;
    content: url("../imagenes/balas/sol-09.png");
}

.article-cont.opinion .sumarios p, .article-cont.analysis .sumarios p {
    text-align: center;
}

.article-cont .credito-autor {
    font-weight: bold;
    font-size: 15px;
    line-height: 15px;
    margin-top: 10px;
}

.article-cont .credito-articulo {
    font-size: 15px;
    line-height: 15px;
    margin: 20px 0;
}

.article-cont .credito-titulo, .article-cont .hemero {
    text-align: right;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 14px;
    margin-bottom: 8px;
}

.article-cont .hemero {
    font-size: 11px;
}

.article-cont .foto img {
    width: 100%;
}

.article-cont .foto img {
    border: 1px solid black;
}

.article-cont .text {
    margin-top: 12px;
}

.article-cont .text .inicial {
    font-size: 95px;
    line-height: 75px;
}

.article-cont .text p {
    margin: 0 0 16px 0;
    text-indent: 3ex;
    text-align: justify;
}

.article-cont .text p.sumario {
    text-indent: 0;
}

.article-cont.opinion .text p.sumario, .article-cont.analysis .text p.sumario {
    text-align: center;
}

.article-cont .text p .loc {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.article-cont .text .col1 {
    float: left;
    width: 48%;
}

.article-cont .text .col2 {
    float: right;
    width: 48%;
}

.article-cont .text p.s-s {
    text-indent: 0;
}

.article-cont .text .email {
    text-align: center;
}

.article-cont .email a {
    color: black;
}

.article-cont .email a:hover {
    text-decoration: underline;
}

.article-cont .go {
    clear: left;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
}

.article-cont .go.top {
    margin-bottom: 20px;
}

.article-cont .go * {
    white-space: nowrap;
}

.article-cont a {
    color: #bd2e26;
}

.article-cont .go-up {
    text-align: center;
}

.article-cont .go-up a:before {
    content: '\25b2\25b2';
}

.article-cont .go-up a:after {
    content: '\25b2\25b2';
}

.article-cont .go-prev {
    float: left;
}

.article-cont .go-prev a:before {
    content: '\25c4';
    padding-right: 4px;
}

.article-cont .go-next {
    float: right;
}

.article-cont .go-next a:after {
    padding-left: 4px;
    content: '\25ba';
}

.article-guard {
    height: 13px;
    clear: both;
}

.eiu-download {
    background: url(../imagenes/filetype-PDF.png) no-repeat;
    float: right;
    width: 34%;
    height: 64px;
    padding-top: 4px;
    padding-left: 75px;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 16px;
    color: #bd2e26;
}

@media print {
    .main-cont.article-cont {
	margin: auto;
    }

    .article-cont .text .col1 {
	float: none;
	width: auto;
    }

    .article-cont .text .col2 {
	float: none;
	width: auto;
    }
}

/* --- srvices.css --- */

.srvices {
    font-size: 0;
    height: 34px;
    margin-bottom: 10px;
    white-space: nowrap;
    position: relative;
}

.bloquesharethis{ 
    height: 60px;
    margin-bottom: 40px;
    white-space: nowrap;
    position: relative;
 }

.botontwitter{ 
    position: absolute;
 }

.srvices .button, .srvices .button-disable {
    font-size: 24px;
    font-weight: bold;
    margin-left: 13px;
}

.srvices .button:first-child {
    margin-left: 0;
}

.srvices img {
    padding-top: 0;
    height: 27px;
    border: 0;
    vertical-align: bottom;
}

#srv-print img, #srv-share img {
    padding-left: 3px;
    padding-right: 3px;
    width: 21px;
}

#srv-comment {
    display: none;
}

#srv-comment img {
    padding-left: 3px;
    padding-right: 2px;
    width: 22px;
}

#srv-font img {
    padding-left: 2px;
    padding-right: 2px;
    width: 23px;
}

#srv-cols1 img, #srv-cols2 img {
    padding-left: 6px;
    padding-right: 6px;
    width: 15px;
}

.srvices-sendto {
/*    display: none; */
    position: absolute;
    top: 31px;
    left: -53px;
    z-index: 1000;
}

.srvices-sendto iframe {
    width: 354px;
    height: 510px;
}

.srvices-addcomment {
    visibility: hidden;
    position: absolute;
    top: 31px;
    left: -53px;
    z-index: 1000;
}

.srvices-addcomment iframe {
    width: 354px;
    height: 510px;
}

.stwrapper .stclose {
    background-color: white;
    cursor: auto;
    right: 11px;
}
/* --- fotografia.css --- */

.fotografia-cont {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.foto-gui {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 10px;
    font-weight: bold;
}

.foto-sections {
    margin: 1em;
}

.foto-sections a {
    background-color: #eeeeee;
    border-right: 1px solid white;
    border-top: 1px solid white;
    padding: 0.5em 1em;
    color: black;
    white-space: nowrap;
}

.foto-sections a:hover {
    background-color: #C40000;
    color: white;
}

.foto-sections a.selected {
    background-color: #C40000;
    color: white;
}

.foto-help {
    text-align: right;
    margin: 2em 0 1em 0;
}

.foto-gui object {
    outline: none;
}

#foto-flash {
    width: 600px;
    height: 650px;
    margin-bottom: 11px;
}

/* --- cartones.css --- */

.cartones-cont {
    margin-top: 8px;
}

.cartones-cont .thumb-box {
    position: relative;
}

.cartones-cont .caption {
    font-family: Helvetica,Arial,sans-serif;
}

.cartones-cont .thumb {
    float: left;
    text-align: center;
    margin-right: 10px;
}

.cartones-cont .thumb .caption {
    width: 200px;
    height: 45px;
}

.cartones-cont .thumb a {
    color: black;
    font-size: 12px;
}

.cartones-cont .thumb img {
    border: 1px solid black;
    width: 200px;
    height: 200px;
}

.cartones-cont .title {
    padding-right: 0.5em;
}

.cartones-cont .credit {
    font-weight: bold;
    padding-left: 0.5em;
}

.cartones-cont .thumbs.small {
    float: left;
    position: relative;
    top: 20px;
}

.cartones-cont .thumbs.small .caption {
    width: auto;
    height: 30px;
}

.cartones-cont .carton {
    text-align: center;
}

.cartones-cont .carton .caption {
    position: relative;
    left: -30px;
}

.cartones-cont .carton img {
    border: 1px solid black;
    position: relative;
    left: -30px;
}

.cartones-cont .carton .email {
    color: #bd2e26;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
}

.cartones-cont .thumbs.small .thumb {
    float: none;
}

.cartones-cont .thumbs.small .thumb img {
    width: 50px;
    height: 50px;
}

.cartones-cont .thumbs.small .thumb .credit {
    padding-left: 0;
}

/* --- contacto.css --- */

.contacto-cont {
    width: 100%;
}

.contacto-cont .address, .contacto-cont .map {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 14px;
    float: right;
    margin-left: 16px;
}

.contacto-cont .address {
    width: 428px;
}

.contacto-cont .address p {
    width: 40%;
    margin: 0 auto;
    white-space: nowrap;
}

.contacto-cont .address p.title {
    font-weight: bold;
}

.contacto-cont .map {
    width: 425px;
    clear: right;
    float: right;
}

.contacto-cont .map .map-frame {
    width: 425px;
    height: 350px;
    border: 1px solid black;
    overflow: hidden;
    margin-top: 8px;
    padding: 0;
}

.contacto-cont .map p.map-caption {
    text-align: center;
    font-size: 10px;
    margin-top: 0;
    margin-bottom: 8px;
}

.contacto-cont .escriba {
    margin: 10px 0 8px 0;
    float: left;
    width: 47%;
}

.contacto-cont .cabeza {
    font-size: 35px;
    font-weight: bold;
    position: relative;
    top: -56px;
    height: 0;
}

.contacto-cont form {
    display: none;
}

.contacto-cont fieldset {
    position: relative;
    top: -11px;
    margin-bottom: 8px;
    padding: 0.35em 0.625em 0.75em;
    margin-left: 2px;
    margin-right: 2px;
}

.contacto-cont fieldset.msgframe {
    width: 550px;
}

.contacto-cont textarea, .contacto-cont input[type="text"], .contacto-cont select {
    border: 1px solid black;
    background-color: white;
}

.contacto-cont textarea {
    overflow-y: scroll;
}

.contacto-cont label {
    font-weight: bold;
}

.contacto-cont .formControls {
    margin-top: 12px;
    float: right;
}

.contacto-cont .field {
    margin-top: 8px;
}

.contacto-cont .field.captcha {
    margin-bottom: 20px;
}

.contacto-cont .field.captcha-img {
    float: left;
    margin-right: 10px;
}

.contacto-cont .field.captcha-img img {
    border: 1px solid black;
}

.contacto-cont .field.captcha .formHelp {
    float: right;
}

#contacto-loading {
    display: none;
    width: 66px;
    height: 66px;
    background-image: url(../imagenes/loading.gif);
    margin: 33px auto;
}

#contacto-msg {
    text-align: center;
    margin-top: 41px;
}
/* --- comments.css --- */

.comment-cont {
    clear: left;
    position: relative;
    top: 12px;
    z-index: 1000;
}

.comment-cont .buttonbar {
    height: 47px;
}

.comment-cont .botoncomentario {
   margin: 12px 0 16px 5px;
   float: left;
   cursor: pointer;
}

.comment-cont .botoncomentario.right {
    float: right;
}

.comment-cont .button {
    background-color: #eee;
    background-repeat: no-repeat;
    text-decoration: none;
    padding: 8px 15px 6px 45px;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: black;
    border: 1px solid;
    border-left-color: #cccccc;
    border-top-color: #cccccc;
    border-bottom-color: black;
    border-right-color: black;
}

.comment-cont .button:hover {
    background-color: #fff;
}

.comment-cont .button.addcomment {
    background-image: url(../imagenes/btn-comment-trans.png);
    background-position: 9px 1px;
}

.comment-cont .button.reply {
    background-image: url(../imagenes/btn-reply-trans.png);
    background-position: 9px 8px;
}

.comment-cont .button.lcase {
    padding-left: 15px;
}

.comment-cont .button.sunk {
   border-bottom-color: #cccccc;
   border-right-color: #cccccc;
}

.comment-cont .comentarios {
  list-style-type: none;
}

#renderComments {
   font-family: Helvetica,Arial,sans-serif;
   clear: left;
}

#renderComments > .comentarios {
    padding-left: 0;
}

.comment-cont .comentario {
   background-color: #5C737D;
   background-color: rgba(92,115,125,0.6);
   border: 1px solid #dddddd;
   padding: 8px;
   margin-top: 8px;
}

.comment-cont .titulo {
   background-color: #5C737D;
   background-color: rgba(92,115,125,0.6);
   color: white;
   font-size: 110%;
   background-image: url(/v7.0/imagenes/discussionitem_icon.gif);
   background-repeat: no-repeat;
   padding-left: 20px;
}

.comment-cont .credito {
   font-size:80%;
   font-style: italic;
   padding-left: 20px;
   padding-bottom: 10px;
}

.comment-cont .cuerpocomentario {
   font-size: 75%;
   text-indent: 2em;
   overflow: hidden;
}

.comment-cont iframe.reply {
   position: absolute;
   width: 354px;
   height: 497px;
   z-index: 1000;
}

#cbmaincomment {
    display: none;
}

.comment-cont .comment-box {
    clear: left;
}
/* --- coverage.css --- */

.coverage-cont {
    margin-top: 20px;
}

.coverage-cont .items {
    margin-bottom: 30px;
}

.coverage-cont .items .banner {
    width: 360px;
    height: 50px;
}

.coverage-cont .items .heading {
    font-size: 44px;
    font-weight: bold;
}

.coverage-cont .items .item:before {
    content: url("../imagenes/balas/sol-09.png");
    padding-right: 0.75ex;
}

.coverage-cont .items .date { 
    font-weight: bold; 
    display: inline-block;
    width: 90px;
}

.coverage-cont .items .date:before { content: "("; }
.coverage-cont .items .date:after { content: ")"; }

.coverage-cont .items a {
    color: black;
    border-bottom: 1px solid transparent;
}

.coverage-cont .items a:hover {
    border-bottom-color: black;
}

/* --- fcp_calendar.css --- */

.fcp-calendar {
    border: 1px solid black;
    background-color: white;
}

.fcp-calendar caption {
    border: 1px solid black;
    background-color: #e2e4db;
}

.fcp-calendar caption span {
    display: inline-block;
    width: 134px;
    text-align: center;
    white-space: nowrap;
}

.fcp-calendar .in_month {
    border: 1px solid transparent;
    background-color: #e2e4db;
}

.fcp-calendar .in_month:hover, .fcp-calendar .selected {
    background-color: #909fa1;
}

.fcp-calendar .selected {
    border: 1px solid black;
    outline: 1px solid black;
}

.fcp-calendar a {
    display: block;
    font-weight: bold;
    text-decoration: none;
    color: #9d0e06;
}

.fcp-calendar tbody a {
    padding: 0 6px;
}

.fcp-calendar .selected a {
    color: white;
}

.fcp-calendar caption a {
    display: inline;
}

/* --- rss.css --- */

.rss-cont p {
    clear: left;
}

.rss-cont li a {
    color: #bd2e26;
}

.rss-cont .items {
    margin: 20px;
    float: left;
}

.rss-cont .items .item span {
    vertical-align: middle;
}

.rss-cont .items .item span:before {
    content: url("../imagenes/icn-rss.png");
    padding-right: 0.75ex;
    vertical-align: top;
}

.rss-cont .items a span {
    color: black;
    border-bottom: 1px solid transparent;
}

.rss-cont .items a:hover span {
    border-bottom-color: black;
}

/* --- dixio.css --- */

.dixio-banner { 
    font-family: Helvetica,Arial,sans-serif;
    font-size: 10px;
    font-weight: bold;
    position: relative;
    top: -20px;
    white-space: nowrap;
}

.dixio-banner .icon {
    vertical-align: middle;
    padding-right: 6px;
    padding-left: 0px;
    height: 70px;
    width: 300px;
    cursor: pointer;
}

#panel-publicidad{
width: 450px;
position: absolute;
height: 600px;
color: #FFF;
z-index: 100000;
top: 0px;
margin: auto;
width: 95%;

}
#panel-publicidad2{
width: 100%;
position: fixed;
height: 100%;
background-color: #000;
opacity: 0.8;
color: #FFF;
z-index: 100;
top: 0px;
left: 0px;
}

.top-logo > a img{
width: 100%;
}
