@import url('https://fonts.googleapis.com/css?family=Fauna+One');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

html { overflow-y: scroll; }
body { font-family:'Roboto', sans-serif;	padding-top: 0px; background-color: #FFFFFF; color: #000000; font-size: 16px; /*line-height:1.6;*/}
textarea { resize: none; }


/* brand day */
/*
.container {  position:relative; max-width: 100%; width: 990px; padding-right: 0px; padding-left: 0px;} 
.container.principal { min-height: 1050px;}
*/
/******/

h1, h2 {   font-family: "Fauna One",serif; }
.principal { padding-bottom:15px;  /*padding-top:15px;*/ }

.center-block { float:none;}
a {    color: #000000; }
a:hover {    color: #2980B9; text-decoration:none; webkit-transition: all 0.31s ease-in-out; -moz-transition: all 0.31s ease-in-out; -ms-transition: all 0.31s ease-in-out; -o-transition: all 0.31s ease-in-out; transition: all 0.31s ease-in-out; }

header {  color:#FFFFFF; width: 100%; min-height: 150px; position: relative; z-index: 999; top: 0px;  } 
.top {		position: fixed; z-index: 9999;  }
.px_blanco { border-bottom:1px solid #FFFFFF;}

.navbar-default {    background-color: #1D1D1B;   }
.navbar { border: 1px solid transparent; border-radius: 0px; min-height: 20px; margin-bottom: 0px; }
/*.navbar-brand	{    width: 69px; height: 35px; background: url("../images/logo_brand.png") no-repeat;   margin-left:15px;  margin-top:8px }*/
.navbar-brand	{    width: 124px; height: 35px; background: url("../images/logo_distanciamiento_brand.png") no-repeat;   margin-left:15px;  margin-top:8px }



.navbar-default .navbar-nav > li > a {    color: #FFFFFF; font-size: 16px;  font-family: "Fauna One",serif;  }
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {    color: #237AB3; }
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover { color: #237AB3;     background-color: #1D1D1B; }
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {    color: #FFFFFF;    background-color: #1D1D1B;}

.dropdown-menu {  color:#FFFFFF;  background-color: #247BB4; font-family: "Fauna One",serif; font-size: 14px;}
.dropdown-menu > li > a {    padding: 10px 25px 10px 15px;   color: #FFFFFF; }
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {   color: #FFFFFF; background-color:#19679a;}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover { color: #FFFFFF; background-color:#19679a; }


.dropdown-menu li img { margin-right: 10px; }
#form_buscardor {  margin-top:10px; }
.logo_grupocontrol { text-align: center; }
.logo_grupocontrol a { position:relative;  z-index:9999; }

.container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
    margin-right: -15px;
    margin-left: -15px;
}
#bt_buscar, #bt_buscar:hover { color:#FFFFFF; background-color:#000000; }

@media (max-width: 767px) {

  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #FFFFFF;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #237AB3;
    background-color: transparent;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }

}



.nav > li > a {    padding: 15px 14px 10px 14px;}

.ad_server_lat .ctrl_lite { max-width: 300px; } 
.link_lite { font-size: 14px; }

h1.tx_azul { margin-bottom: 20px; margin-top: 0px;  }
.tx_azul { color:#0081BC; }

#pop .tx1 { font-size: 24px;}
#pop .tx2 {  font-size: 20px;}
#pop .tx3 {  font-size: 18px;}


.form_suscripcion .tx2 { color: #FFFFFF; font-size: 20px;}
.form_suscripcion .tx3 { color: #FFFFFF; font-size: 16px;}

.nav1	{ margin-top: -45px; padding: 0px 0 5px 0;}
.nav1 a {color: #FFFFFF; font-size: 16px;}
.nav2	{ padding:15px 0 0px 0; color: #FFFFFF; font-size: 16px;}
.nav2 .tx1 { padding:15px 0 0px 0; color: #FFFFFF; font-size: 16px; text-align: left;}

.nav2 .tx2 { padding:15px 0 0px 0; color: #FFFFFF; font-size: 16px; text-align: right;}
.nav2 .tx2 a { display:block;  margin-top: 0px; color: #FFFFFF; font-size: 16px;}

.ad_server { padding:15px 0;  text-align: center; }
.ad_server_lat { width: 100%; text-align: center; margin-top:15px;}

/*#home .ad_server_lat { margin-top:5px; }*/

.max-width {   width: 100%; }
.img-responsive {    display: inline; }

.nav1 .socialfollow_header { position:relative; top: 60px; color: #FFFFFF; text-align: right; z-index:999; }


.revista_home {    border: 1px solid #F1F1F1;  /*max-width: 80%;*/ height: auto;  margin-bottom:10px;}


.img_n1 { position: relative; width: 100%;   height: 370px; overflow : hidden; border-radius:3px;		-moz-border-radius:3px;		-webkit-border-radius:3px;  margin:0px 0 5px 0; }
.img_n1 img{  position: relative; width: 100%; }

.img_n2 { position: relative; width: 100%;   height: 200px; overflow : hidden; border-radius:3px;		-moz-border-radius:3px;		-webkit-border-radius:3px;  margin:0px 0 5px 0; }
.img_n2.noticias_rel { height:170px; }

.img_n2.video {   height: 190px; }
.img_n2 img{  position: relative; width: 100%; }

.noticia.n1 { margin-top: 5px; }
.noticia.n2 { min-height: 320px; margin-top:15px; }
#revista-ctrl .noticia.n2 {  min-height: 580px; }

#opinion-publicidad .noticia.n2 {    height: 380px; }
#opinion-publicidad .noticia.n1 {    margin-bottom: 10px; }



#debates .noticia.n2 { min-height: 200px; margin-top:15px; }

.noticia h1 {    font-size: 36px; font-weight: 400; line-height: 1.3; letter-spacing: -0.2px; margin-top: 5px; margin-bottom: 10px;} 
.noticia h3 {    font-size: 16px; font-weight: 400; line-height: 1.6; letter-spacing: -0.5px; margin-top: 5px;}  

.noticia.n2 h2 { min-height:52px;   font-size: 20px; font-weight: 400; line-height: 1.3; letter-spacing: -0.5px;} 
.fech { font-size: 12px; }
/*.noticia.n2 .fech { position:absolute; bottom:0;}*/

.enlace_blog { font-size: 14px; margin-top:40px;}
.enlace_blog a { font-weight: 600; }

#home .videos .img_n1 { height: 366px; }
#home .videos .img_n2 { height: 128px; }
#home .videos h2 {  min-height: 90px;  font-size: 16px; font-weight: 400; line-height: 1.3; letter-spacing: -0.5px; }


.tapa_video			{ position: absolute;   top:0;  z-index: 999; width: 100%;    height: 100%;    cursor: pointer;    background: transparent url("../images/youtube_play.png") no-repeat scroll center center; }
.tapa_video:hover		{ background: url("../images/youtube_play_over.png")  no-repeat scroll center center; }

.noticia.n3 { min-height: 230px; }
.noticia.n3 h2 { min-height:52px;   font-size: 20px; font-weight: 400; line-height: 1.3; letter-spacing: -0.5px;} 
.img_n3 { position: relative; width: 100%;   height: 458px; overflow : hidden; border-radius:3px;		-moz-border-radius:3px;		-webkit-border-radius:3px;  margin:0px 0 5px 0; }
.img_n3 img{  position: relative; width: 100%; }

.noticia.n4 { min-height: 245px; }
.img_n4 { position: relative; width: 100%;   height: 135px; overflow : hidden; border-radius:3px;		-moz-border-radius:3px;		-webkit-border-radius:3px;  margin:0px 0 5px 0; }
.img_n4 img{  position: relative; width: 100%; }

.img_round { border-radius:3px;		-moz-border-radius:3px;		-webkit-border-radius:3px;  margin:0px 0 5px 0; }

#headline {   padding: 15px 0 15px 30px; font-size: 15px;    font-weight: 400;    color: #A1A1A1;    margin-left: 15px;   margin-right: 15px;   letter-spacing: 0px;    text-transform: none;}
#headline b {    font-size: 24px;    line-height: 1.3;    position: relative;    text-transform: uppercase;    font-weight: 800;    letter-spacing: -1px;    padding-left: 10px;    color: #000; }

.etiqueta_categoria {  font-size: 14px; background-color:#2980B9; color:#FFFFFF; position:absolute; z-index:999; padding: 5px 15px 5px 0px; -webkit-border-top-left-radius: 3px;
-webkit-border-bottom-right-radius: 3px;
-moz-border-radius-topleft: 3px;
-moz-border-radius-bottomright: 3px;
border-top-left-radius: 3px;
border-bottom-right-radius: 3px; }
.etiqueta_categoria a > img {    float: left;    margin: 0px 5px 0px 8px;    vertical-align: middle; }
.etiqueta_categoria a, .etiqueta_categoria a:hover{  color:#FFFFFF;}

.etiqueta_categoria_listado { width: 220px;  background-color:#2980B9; color:#FFFFFF; padding: 5px 0px 5px 0px; -webkit-border-top-left-radius: 3px; -webkit-border-bottom-right-radius: 3px; -moz-border-radius-topleft: 3px; -moz-border-radius-bottomright: 3px; border-top-left-radius: 3px; border-bottom-right-radius: 3px; }
.etiqueta_categoria_listado a > img {    float: left;    margin: 0px 5px 0px 8px;    vertical-align: middle; }
.etiqueta_categoria_listado  a, .etiqueta_categoria_listado a:hover{  color:#FFFFFF;}

/*#home */
.etiqueta_categoria {  top: -5px; }
#home .noticia.n1 { margin-top: 5px; }
#home .noticia.n2 .etiqueta_categoria{ top: 5px; }
.col-ad-detalle { margin-top:5px; }

.relative {  position: relative;}
#home .relative .noticia.n2 .etiqueta_categoria{ top: -10px; }

#videos .iframe_video { width: 100%; height: 197px;}


.videos.n1 { min-height: 310px; }
.videos.n2 { min-height: 250px;  }

.videos.n1 .iframe_video { width: 100%; height: 330px;}
.videos.n2 .iframe_video { width: 100%; height: 140px;}

.videos.n1 h2 {    font-size: 26px; font-weight: 400; line-height: 1.3; letter-spacing: -0.5px;} 
.videos.n2 h2 {    font-size: 17px; font-weight: 400; line-height: 1.3; letter-spacing: -0.5px;}
.seccion { font-family: "Fauna One",serif;  font-size: 26px; font-weight: 400; line-height: 1.3; letter-spacing: -0.5px; margin-bottom:15px; padding-left:15px; margin-top: 10px;}

#home  .blogs h3 {  font-family: "Fauna One",serif;  font-size: 20px; line-height: 1.3; letter-spacing: -0.5px; min-height: 105px;  margin-top: 10px;}
#blogs .blogs h3 {  font-family: "Fauna One",serif;  font-size: 30px; line-height: 1.3; letter-spacing: -0.5px; margin-top: 5px;}
#blogs .blogs {   margin-top: 15px; margin-bottom: 15px;}

.blogs .blog_img { float: left; }
.blogs .blog_img img {  height: 50px; }
#blogs .blogs .blog_img img {    height: auto;}

#home .blogs .nombre_blog  { float: left; margin-left:5px; height: 50px; width: 73%; display: table;}
#home .blogs .nombre_blog a { color:#0081BC; }

#blogs .blogs .blog_img{   margin-right: 15px; min-height:50px;}
#blogs .blogs .fech {    margin: 5px 0 8px 0;  }
#blogs .blogs .nombre_blog {   color:#0081BC; font-size: 14px;}
#blogs .blogs .nombre_blog a { color:#0081BC; font-size: 14px; }

.blogs .nombre_blog  > * {
    display: table-cell;
    vertical-align: middle;
  }

.img-circle { border: 1px solid #f2f2f2; }
.iframe_videoyoutuve {  width: 100%; height: 350px; }
.mapa-google {  width: 100%; height: 350px; }

.ws_cover a {  background-color: #afafaf; } 
#revista-ctrl .btn-suscripcion { width: 100%;  }



.img_detalle { border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; margin:0px 0 15px 0; }
.imagen_blog{ float: left; margin-right: 15px; }

.titular{   font-size: 35px;    line-height: 1.2; font-family: "Fauna One",serif; margin:0; padding-top: 15px; margin-bottom:15px; }
.avance {   font-size: 20px;    line-height: 1.6;    font-family: "Fauna One",serif; color: #2980B9; margin-top: 4px;    }
.autor {   font-size: 20px;    line-height: 1.6; color: #2980B9; margin-top: 4px;    }
.cargo {   font-size: 16px;   color: #2980B9;    }
.nb_autor {  margin-top: 15px;    }
.detalle{   font-size: 18px;  /*line-height: 1.6;*/  margin-top: 15px;  }
.cuerpo_noticia a { color: #2980B9; }
.tx_peq{   font-size: 12px;  }

.entradilla {   font-family: "Fauna One",serif;    }

.social-share { text-align: center;}
.social-share .socialfollow a  { float: none; margin: 0 auto 10px auto;}
.social-share .share  { padding-bottom:10px; }


.social-share-footer .socialfollow a  { margin: 0 10px 0 0;}
.noticias_relaccionadas { font-size: 22px; line-height: 1.3; margin-bottom:5px; }
.tit_noticias_relaccionada { font-family: "Fauna One",serif;  font-size: 15px; line-height: 1.1; letter-spacing: -0.5px; margin-top: 5px;}


#bot_siguiente {position: fixed;	width: 268px;	z-index: 99;	right: -221px;	top:48%;	cursor:pointer;	overflow:hidden; }
.bot_siguiente {width: 268px;	height: 82px;	background: url("../images/flecha_sig.png") top left no-repeat; }
.bot_siguiente_over {	width: 268px;	height: 82px;	background: url("../images/flecha_sig_over.png") top left no-repeat;}
.bot_siguiente_tx {  width: 185px; padding: 10px 0 0 15px; display:none;}

#bot_anterior {position: fixed;	width: 268px;	z-index: 99;	left: -221px;	top:48%;	cursor:pointer;	overflow:hidden; }
.bot_anterior {width: 268px;	height: 82px;	background: url("../images/flecha_ant.png") top left no-repeat; }
.bot_anterior_over {	width: 268px;	height: 82px;	background: url("../images/flecha_ant_over.png") top left no-repeat;}
.bot_anterior_tx {  width: 185px; padding: 10px 0 0 15px; display:none;}
.t1 {  color:#2980b9; text-decoration:none; font-size: 11px; padding: 0px 0 5px 0px;}
.t2 {  color:#4f4f4f; text-decoration:none; font-size: 13px; padding: 0px 0 0 0px;}


.table		{  display: table; }
.table-row	{  display: table-row;	} 
.table-cell	{  display: table-cell; float: none;}
.pull-down	{ vertical-align: bottom; padding-bottom:5px;} 
.colspan2 {
	column-span: 2; /* W3C */
	-webkit-column-span: 2; /* Safari & Chrome */
	-moz-column-span: 2; /* Firefox */
	-ms-column-span: 2; /* Internet Explorer */
	-o-column-span: 2; /* Opera */
}



.home {    padding-right: 0px;    padding-left: 0px;  margin-bottom: 10px;}

.btn-marron {  background-color: #ac7c4a;  border-color: #ac7c4a; color: #FFFFFF; }
.btn-marron:hover, .btn-marron:focus, .btn-marron.focus, .btn-marron:active, .btn-marron.active, .open > .dropdown-toggle.btn-marron {   color: #000000;   background-color: #bd8952;   border-color: #bd8952; }

.btn-blanco {  background-color: #FFFFFF;  border-color: #FFFFFF; color: #000000; }
.btn-blanco:hover, .btn-blanco:focus, .btn-blanco.focus, .btn-blanco:active, .btn-blanco.active, .open > .dropdown-toggle.btn-blanco {   color: #000000;   background-color: #fdfdfd;   border-color: #fdfdfd; }
.botonera{ margin: 10px 10px 0px 10px;}
.botonera .btn { margin-right: 10px;  margin-bottom: 5px; margin-top: 5px;}

.btn-yellow {  background-color: #eeff2d;  border-color: #eeff2d; color: #000000; }
.btn-yellow:hover, .btn-yellow:focus, .btn-yellow.focus, .btn-yellow:active, .btn-yellow.active, .open > .dropdown-toggle.btn-yellow {   color: #000000;   background-color: #dbe847;   border-color: #dbe847; }

.btn-rojo {  background-color: #9d1239;  border-color: #9d1239; color: #FFFFFF; font-size:18px;}
.btn-rojo:hover, .btn-rojo:focus, .btn-rojo.focus, .btn-rojo:active, .btn-rojo.active, .open > .dropdown-toggle.btn-rojo {   color: #FFFFFF;   background-color: #b01541;   border-color: #b01541; }


.btn-miga {  background-color: #ac7c4a;  border-color: #ac7c4a; color: #FFFFFF; text-transform: uppercase; font-weight: 700;}
.btn-miga:hover, .btn-miga:focus, .btn-miga.focus, .btn-miga:active, .btn-miga.active, .open > .dropdown-toggle.btn-miga {   color: #fff;   background-color: #bd8952;   border-color: #bd8952; }

.btn-primary { padding:5px 15px;  text-shadow: none; display: inline-block; }
.btn-danger { padding:5px 10px;  text-shadow: none; display: inline-block; }

.btn-accion, .navbar-default .navbar-nav > li > a.btn-accion {   border-color: #d38d1b;  background-color: #d38d1b;   color: #FFFFFF;  text-shadow: none; display: inline-block;}
.btn-accion:hover, a.btn-accion:focus, .btn-accion.focus, .btn-accion:active, .btn-accion.active, .open > .dropdown-toggle.btn-accion {   color: #FFFFFF;   background-color: #f5a522;   border-color: #f5a522; }

.navbar-default .btn-accion{    margin-top:10px; margin-left:15px; }

.caja_publicar_boton { /* background-color: #9d1239; */ margin:8px; overflow:hidden; position:relative; }

/* #content_publicaciones { margin-top:15px; }*/

.publicacion_cat { padding-right: 0px; padding-left: 0px;  webkit-transition: all 0.31s ease; -moz-transition: all 0.31s ease; -ms-transition: all 0.31s ease; -o-transition: all 0.31s ease; transition: all 0.31s ease;  }
.publicacion_cat .titulo_publicacion{ font-size: 16px;  color: #000000; font-weight: 700;  padding: 15px 15px 0 15px; }
.publicacion_cat .resumen_publicacion {  font-size: 14px; color: #000000; padding: 0px 15px 15px 15px; }
.publicacion_cat .resumen_publicacion a, .publicacion_cat .resumen_publicacion a:hover {  font-size: 14px; color: #000000;  }

.publicacion_cat a:hover	{ color: #FFFFFF; text-decoration:none; }

.bloque_img { position:relative;  overflow: hidden; border-left: 1px solid #eeeeee; border-right: 1px solid #eeeeee;  /*border: 10px solid white; */   webkit-transition: all 0.31s ease; -moz-transition: all 0.31s ease; -ms-transition: all 0.31s ease; -o-transition: all 0.31s ease; transition: all 0.31s ease; }
.bloque_img img {   width: 100%; webkit-transition: all 0.31s ease; -moz-transition: all 0.31s ease; -ms-transition: all 0.31s ease; -o-transition: all 0.31s ease; transition: all 0.31s ease;}
.w100 {   width: 100%; }

.negrita { margin-bottom: 5px;   font-weight: 700; }
.btn-anuncios {  background-color: #fe941a;  border-color: #fe941a; color: #FFFFFF;  width: 100%; border-radius:0; padding: 40px 0; font-size: 16px;  border:10px solid #FFFFFF;  webkit-transition: all 0.31s ease; -moz-transition: all 0.31s ease; -ms-transition: all 0.31s ease; -o-transition: all 0.31s ease; transition: all 0.31s ease;}
.btn-anuncios:hover, .btn-anuncios:focus, .btn-anuncios.focus, .btn-anuncios:active, .btn-anuncios.active, .open > .dropdown-toggle.btn-anuncios {   color: #fff;   background-color: #fa7d07;   border-color: #fa7d07;  border:10px solid #FFFFFF;  -webkit-border-radius: 30px; -moz-border-radius: 30px; border-radius: 30px; }
.btn-anuncios i {  font-size: 35px; margin-bottom:10px; }

.btn-subir_foto {  width:25%; min-height:50px; display:block; float:left;  background-color: #AC7C4A; border: 2px solid #eeeeee; color: #FFFFFF;  text-align: center;  border-radius:0; padding: 30px 0 0 0 ; font-size: 14px;  webkit-transition: all 0.31s ease; -moz-transition: all 0.31s ease; -ms-transition: all 0.31s ease; -o-transition: all 0.31s ease; transition: all 0.31s ease;}
.btn-subir_foto:hover, .btn-subir_foto:focus, .btn-subir_foto.focus, .btn-subir_foto:active, .btn-subir_foto.active, .open > .dropdown-toggle.btn-subir_foto { color: #FFFFFF;  border: 2px solid #eeeeee;  }
#links > .btn-subir_foto a {  background-color: #AC7C4A;  }


#links_editar .foto a { width:100%; color: #FFFFFF; background-color: #EEE; display:block; float:left;  position:relative; overflow:hidden; margin: 0px 0px 0px 0px;  border: 1px solid #eeeeee;   webkit-transition: all 0.31s ease; -moz-transition: all 0.31s ease; -ms-transition: all 0.31s ease; -o-transition: all 0.31s ease; transition: all 0.31s ease;  }
#links_editar .foto a:hover { border: 1px solid #AC7C4A; color:#AC7C4A; /*-webkit-border-radius: 30px; -moz-border-radius: 30px; border-radius: 30px; */ }
.borrar_foto{  position:absolute; bottom:5px; right:5px;  z-index:998;   }
.up_foto, .down_foto { padding: 5px 2px; }
.up_foto	{  padding: 5px 2px; position:absolute; top:5px;  right:25px; z-index:999; }
.down_foto	{  padding: 5px 2px; position:absolute; bottom:5px;  right:5px;  z-index:999;}

.bot_volver {position:absolute; top:5px;  right:5px;  z-index:998;}


.lock, .unlock	{ width: 34px; padding: 5px 0px;  position:absolute; top:5px;  right:5px; z-index:998; }
.portada{ padding: 5px 10px;  position:absolute; bottom:5px;  left:5px; z-index:998; }

.bloque_img_over-anuncios { /*border: 10px solid #fa7d07; background:#fa7d07; */  background:#EEE;}
.bloque_tx_over-anuncios { background-color: #fe941a; cursor:pointer;  -webkit-transition: all 0.31s ease; -moz-transition: all 0.31s ease; -ms-transition: all 0.31s ease; -o-transition: all 0.31s ease; transition: all 0.31s ease; } 
.bloque_tx {
	border-left: 1px solid #E5E6E9;
	border-right: 1px solid #E5E6E9;
	border-bottom: 1px solid #D0D1D5;
}
.caja_bloque_tx {	border-left: 1px solid #E5E6E9;	border-right: 1px solid #E5E6E9;	border-bottom: 1px solid #D0D1D5; }
.bloque_img_over-anuncios img { border:0; /* -webkit-border-top-left-radius: 30px; -webkit-border-top-right-radius: 30px; -moz-border-radius-topleft: 30px; -moz-border-radius-topright: 30px; border-top-left-radius: 30px; border-top-right-radius: 30px;*/ }
.bloque_tx_over-anuncios .titulo_publicacion { color: #FFFFFF; }
.bloque_tx_over-anuncios .resumen_publicacion{ color: #FFFFFF; }

.btn-actividades {  background-color: #00a9e2;  border-color: #00a9e2; color: #FFFFFF;  width: 100%; border-radius:0; padding: 40px 0; font-size: 16px;  border:10px solid #FFFFFF;  webkit-transition: all 0.31s ease; -moz-transition: all 0.31s ease; -ms-transition: all 0.31s ease; -o-transition: all 0.31s ease; transition: all 0.31s ease; }
.btn-actividades:hover, .btn-actividades:focus, .btn-actividades.focus, .btn-actividades:active, .btn-actividades.active, .open > .dropdown-toggle.btn-actividades {   color: #fff;   background-color: #0083c1;   border-color: #0083c1;  border:10px solid #FFFFFF;  -webkit-border-radius: 30px; -moz-border-radius: 30px; border-radius: 30px; }
.btn-actividades i {   font-size: 35px; margin-bottom:10px; }


.bloque_img_over-actividades { /*border: 10px solid #0083c1; background:#0083c1;*/   background:#EEE;}
.bloque_tx_over-actividades  { background-color: #0083c1; cursor:pointer;  -webkit-transition: all 0.31s ease; -moz-transition: all 0.31s ease; -ms-transition: all 0.31s ease; -o-transition: all 0.31s ease; transition: all 0.31s ease; } 
.bloque_img_over-actividades img  {  border:0; /* -webkit-border-top-left-radius: 30px; -webkit-border-top-right-radius: 30px; -moz-border-radius-topleft: 30px; -moz-border-radius-topright: 30px; border-top-left-radius: 30px; border-top-right-radius: 30px;*/ }
.bloque_tx_over-actividades .titulo_publicacion { color: #FFFFFF; }
.bloque_tx_over-actividades .resumen_publicacion{ color: #FFFFFF; }

.btn-videos {  background-color: #b81341;  border-color: #b81341; color: #FFFFFF;  width: 100%; border-radius:0; padding: 40px 0; font-size: 16px;  border:10px solid #FFFFFF;  webkit-transition: all 0.31s ease; -moz-transition: all 0.31s ease; -ms-transition: all 0.31s ease; -o-transition: all 0.31s ease; transition: all 0.31s ease; }
.btn-videos:hover, .btn-videos:focus, .btn-videos.focus, .btn-videos:active, .btn-videos.active, .open > .dropdown-toggle.btn-videos {   color: #FFF;   background-color: #9d1239;   border-color: #9d1239;  border:10px solid #FFFFFF;  -webkit-border-radius: 30px; -moz-border-radius: 30px; border-radius: 30px; }
.btn-videos i {   font-size: 35px; margin-bottom:10px; }

.tx_12 { font-size: 12px; }
.tx_rojo { color: red; }
.tx_14 { font-size: 14px; }
.tx_16 { font-size: 16px; }


#pop_no_publicar {  text-align: center; min-width: 400px; width: auto; padding:1px 40px 30px 40px; background: #FFFFFF; color: #333; display:none; }
#pop_no_publicar h2 {  padding-bottom:20px; }
#pop_no_publicar .tx { text-align: center; font-size: 18px; }


.bloque_img_over-videos { /*border: 10px solid #9d1239; background:#9d1239;*/   background:#EEE;}
.bloque_tx_over-videos  { background-color: #9d1239; cursor:pointer;  -webkit-transition: all 0.31s ease; -moz-transition: all 0.31s ease; -ms-transition: all 0.31s ease; -o-transition: all 0.31s ease; transition: all 0.31s ease; } 
.bloque_img_over-videos img  {  border:0;  /* -webkit-border-top-left-radius: 30px; -webkit-border-top-right-radius: 30px; -moz-border-radius-topleft: 30px; -moz-border-radius-topright: 30px; border-top-left-radius: 30px; border-top-right-radius: 30px;*/ }
.bloque_tx_over-videos .titulo_publicacion { color: #FFFFFF; }
.bloque_tx_over-videos .resumen_publicacion{ color: #FFFFFF; }

#buscar { border-right: 0px solid; }
.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {    /*margin-left: -4px;*/ }

.div_new_clave {display:none; }
.canviar_clave {cursor:pointer; color: #000000; margin-bottom:20px; text-decoration:underline; }



.bloque_home{    padding-top: 15px;    padding-bottom: 30px;   border:1px solid #E6E6E6; margin-bottom: 10px;  }
.bloque_ultimo_publicado {   /* padding-top: 30px; */    padding-bottom: 30px;    margin-bottom: 10px;  }


#bt_login, #bt_recuperar_clave { padding: 10px 12px;} 
.checkbox a {color: #5023c1; }

.div_login { display:none; background:#ECF0F1; border-bottom:20px solid #1D1D1D; }
.div_login .row { background:#FFFFFF; }
.div_login h2 {    font-weight: 300;    font-size: 24px;    color: #9F0E47; }
.div_login .form-control {   background:#ECF0F1;   color: #333;    border: 1px solid #ECF0F1;    box-shadow: none;  height: 45px;}
#form_recuperar_clave { display:none; }
.recuperar_clave {cursor:pointer; color: #000000; margin-bottom:20px;}
.recuperar_clave:hover { text-decoration:underline;}
.verif { display: none; }
.color_negro   { color: #000000; }
.color_negro a { color: #000000; }

.bt_login {  color: #FFF;  background-color: #ac7c4a;  border-color: #ac7c4a; width: 100%;}
.w100 { width: 100%; }
.bt_login:hover, .bt_login:focus, .bt_login:active, .bt_login.active, .open > .dropdown-toggle.bt_login {   color: #FFF;  background-color: #bd8952;  border-color: #bd8952; }
.bt_login:active, .bt_login.active, .open > .dropdown-toggle.bt_login {   background-image: none; }


#inline1 {  text-align: center; min-width:400px; width: 100%; padding:15px 20px 15px 20px; background: #FFFFFF; color: #333; display:none; }
#pop {  text-align: center; min-width:400px; width: 100%; padding:15px 20px 15px 20px; background: #FFFFFF; color: #333; display:none; }

#pop h2 {  padding-bottom:20px; }
#pop .tx { text-align: left; font-size: 16px; font-weight: 400; line-height: 1.8;}
#pop .tx2 { text-align: center; font-size: 16px; font-weight: 400; line-height: 1.8;}

.tx_negro {color: #000000;  text-align: center; }

#iframe_suscripcion_newsletter { width:100%; height:390px; margin:0; padding:0; }

#bt_suscripcion {  width:100%;}
.tx_error, .tx_error_2, .mv_tx_error, #tx_error_login, #tx_error_recuperar_clave { font-size: 14px; font-weight: 400; color: red; }

#form_buscardor_home { position:absolute; z-index:1020; top:71px;   width: 100%;}
.content_buscador_home { background-color: #ac7c4a; padding: 9px 15px;  width: 270px; }



.sub-navbar {width: 100%;  min-height:55px;  background: #AC7C4A;  padding: 10px 0 10px 0;}

.sub-navbar .miga {padding:0; margin:0;}
.sub-navbar .miga li  { list-style-type: none; display:inline-block; margin:0; color:#FFFFFF;   padding:5px 5px;  text-transform: uppercase;}
.sub-navbar .miga li a {color:#FFFFFF;  margin:0;  text-transform: uppercase; font-weight: 700;}
.sub-navbar .miga li .tx{color:#FFFFFF;  margin:0;  text-transform: uppercase;}
.sub-navbar .miga .active a {color:#ffa200;  margin:0; text-transform: uppercase; text-decoration:underline; font-weight: 700;}
.sub-navbar .miga { float:left; }


.input_buscar{ color: #000000; float:right; background: #FFFFFF ; width: 50%;  height: 32px; padding-left:15px; border:1px solid #FFFFFF;  -webkit-border-top-left-radius: 5px; -webkit-border-bottom-left-radius: 5px; -moz-border-radius-topleft: 5px; -moz-border-radius-bottomleft: 5px; border-top-left-radius: 5px; border-bottom-left-radius: 5px;}
.btn-buscar {  background: #FFFFFF; padding: 5px 12px;  color:#5f5b5f; margin-bottom: 0px;}
.input_buscar{ width: 100%; }


.sub-navbar .bootstrap-select {   margin-bottom: 0px;}


.menu-n2 {float:left; }
.menu-n2 ul  {  padding: 10px 0 0px 0; }
.menu-n2 li  { list-style-type: none; display:inline-block; margin:0; color:#000000;   padding:5px 5px;  }
.menu-n2 li a {color:#000000;  margin:0;  text-transform: uppercase; font-weight: 700; }
.menu-n2 .active a {color:#ffa200;  margin:0; text-transform: uppercase; text-decoration:underline; font-weight: 700;}

.menu_cuenta {  padding: 15px 0 15px 0; }
.menu_cuenta ul  {  padding: 0px 0 0px 0; }
.menu_cuenta ul li  { list-style-type: none;  margin:0; color:#000000;   padding:2px 5px; font-size: 18px; }
.menu_cuenta ul li  li { list-style-type: none;  margin:0; color:#000000;   padding:0px 0 2px 30px; font-size: 14px; }

.menu_cuenta li a {color:#000000;  margin:0;   }
.menu_cuenta a.active { color:#AC7C4A; font-weight: 700;}



.menu-movil .menu_cuenta ul li {    font-size: 22px; }

.caja_fotos #links {  opacity: 0; -webkit-transition: all 0.31s ease; -moz-transition: all 0.31s ease; -ms-transition: all 0.31s ease; -o-transition: all 0.31s ease; transition: all 0.31s ease; }


.lupa { position:absolute; bottom:8px; right:8px;  width: 27px;  height: 27px; background: url("../images/lupa.png") no-repeat; }
.mas_fotos { position:absolute; top:0px; right:0px;  width: 100%; height:100%; font-size: 14px; color: #ac7c4a; text-align: center; padding-top: 15px; border:1px dashed;}
.mas_fotos_num { position:absolute; top:0px; right:0px;  width: 100%; height:100%; font-size: 25px; color: #FFFFFF; text-align: center; padding-top: 15px;   text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.8);}

#album .mas_fotos { font-size: 30px; padding-top:45px;  }
#alta .mas_fotos  { font-size: 24px; padding-top:25px;  }

.enlace_profesional { margin-top: 5px; float: left;}

.tx_p  { font-size:12px; font-weight:400; }

.fecha_publicacion { background: url("../images/ico_fecha.png") no-repeat; font-size: 15px; padding: 8px 0 0 40px; 	height:30px;	float:left; color: #251f25; margin:15px 0 0 15px;}
h6.views_publicacion { float: right;    margin-top: 2px;    margin-right: 15px; }
h6.views_publicacion i {    color: #FFF;    padding: 6px;      border-radius: 20px;    border: 1px solid #FFF; }
h6.views_publicacion span {    font-size: 11px;    letter-spacing: 1px;    padding: 2px 6px;    margin-left: -5px;    background: #1D1D1D;    color: #FFFFFF;    border-radius: 10px;  border: 1px solid #FFF; }
[class^="fa-"], [class*=" fa-"] {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.social-links {    display: inline-block;    list-style-type: none;    margin: 0px;    padding: 0px;    vertical-align: middle;  }
.social-link  {    display: inline-block;    height: 40px;    overflow: hidden; }

.social-link-iframe-wrapper {     display: inline-block;    height: 30px;    margin-right: -1px;    overflow: hidden;    position: relative;    transition: width 100ms ease-in-out 0s;    vertical-align: middle;    width: 1px;  text-align: left; padding-top:10px;}

.social-link--linkedin .social-icon		{  display: inline-block; background: url('../images/share_linkedin.png') no-repeat;	height: 32px;    width: 32px;}
.social-link--linkedin:hover .social-icon {    background: url('../images/share_linkedin_c.png') no-repeat;	height: 32px;    width: 32px;}

.social-link--facebook .social-icon		{  display: inline-block; background: url('../images/share_facebook.png') no-repeat;	height: 32px;    width: 32px;}
.social-link--facebook:hover .social-icon		{  background: url('../images/share_facebook_c.png') no-repeat;	height: 32px;    width: 32px;}

.social-link--twitter .social-icon		{  display: inline-block; background: url('../images/share_twitter.png') no-repeat;		height: 32px;    width: 32px;}
.social-link--twitter:hover .social-icon		{  display: inline-block; background: url('../images/share_twitter_c.png') no-repeat;		height: 32px;    width: 32px;}

.social-link--google-plus .social-icon	{  display: inline-block; background: url('../images/share_google_plus.png') no-repeat;   height: 32px;    width: 32px;}
.social-link--google-plus:hover .social-icon	{ background: url('../images/share_google_plus_c.png') no-repeat;   height: 32px;    width: 32px;}
.share_tx {  float:left; background: url("../images/flecha.png") right no-repeat; padding:0 12px 0 0px; font-size: 12px; margin-right: 25px; margin-top: 5px; }

.caja_publicacion {  background-color: #FFFFFF; /*min-height: 220px;*/  margin:8px; overflow:hidden; position:relative;}



.rollover-publicacion {background:#AC7C4A  url("../images/ico_ver.png") center center no-repeat;  background: rgba(172, 124, 074, 0.70) url("../images/ico_ver.png") center center no-repeat; position:absolute;  width: 100%;  height: 100%;  display: none;  cursor:pointer;}
.rollover-publicacion a{ text-decoration:none; text-align: center; color: #FFFFFF; margin-top:20px;  }
.roll_ver a { display:block;  width:100%;   height:100%}
.img_publicacion { width:100%; }

.progress { margin-top: 10px; }
#progress_tx { padding-left:15px; padding-top:1px;  font-size:11px; }
.politica_privacidad { font-size:13px; font-weight:400; color: #FFFFFF;}
.politica_privacidad a { font-size:13px; font-weight:400; color: #FFFFFF; text-decoration:underline; }

#suscribete-newsletter .politica_privacidad, #suscribete-newsletter .politica_privacidad a, #contacto  .politica_privacidad, #contacto  .politica_privacidad a {    color: #7f7f7f; }
#suscribete-newsletter .form_suscripcion .tx2 { color: #7f7f7f; font-size: 20px;}
#suscribete-newsletter .form_suscripcion .tx3 { color: #7f7f7f; font-size: 16px;}

.categoria_publicacion {color: #FFFFFF;  background:#AC7C4A; font-size: 16px; padding:10px 0 10px 15px; 	border-left: 1px solid #E5E6E9; 	border-right: 1px solid #E5E6E9; } 
.categoria_publicacion a, .categoria_publicacion a:hover { color: #FFFFFF; text-decoration:none;  } 
.categoria_publicacion.ultimos { font-size: 13px; }

.anuncios_destacado		{ background:#fa7d07; }
.actividades_destacado	{ background:#00a9e2; }
.videos_destacado		{ background:#b81341; }

.tapa {    position: fixed;    z-index: 9999;    width: 100%;    height: 100%;    background: rgba(255, 255, 255, 0.90)  url('../images/loader.gif') center center no-repeat; top:0; left:0; display: none;}
.tapa .tx {  padding: 45px  20px 0px  20px;  font-size: 14px; text-align: center;}


.tapa_iframe {    position: absolute;    z-index: 998;    width: 100%;    height: 100%;    cursor: pointer;    background: transparent url("../images/youtube_play.png") no-repeat scroll center center; }
.tapa_iframe:hover{ background: url("../images/youtube_play_over.png") center no-repeat ; }

.iframe_video2 { width: 100%; height: 190px;}
.iframe_login_facebook { width: 880px; height: 540px; } 

.go_up { position:absolute; margin-top:8px; left: 8px; cursor:pointer;   width: 26px; height:26px;  opacity: .80; }
.go_up img { -webkit-border-radius: 5px;  -moz-border-radius: 5px; border-radius: 5px; }
.go_up:hover {opacity: 1;}


.cp-hidden { display: none; }
.cp-notice * {    box-sizing: border-box;    font-family: arial, helvetica, sans-serif;}
.cp-notice {    position: fixed;    bottom: 0;    left: 0;    right: 0;    z-index: 99999;}
.cp-notice > .cp-bg {    position: absolute;    top: 0;    left: 0;    width: 100%;    height: 100%;    z-index: 0;    background-color: black;    opacity: .85;}
.cp-notice > .cp-content {    position: relative;    z-index: 1;    max-width: 750px;    margin: 0 auto;    padding: 20px;}
.cp-notice > .cp-content p, .cp-notice > .cp-content a.cp-close {    font-size: 1em;    line-height: 1.5em;    color: white;    margin-bottom: 0;}
.cp-notice > .cp-content a.cp-close {    display: block;    float: right;    padding: 8px 10px;    margin: 0 0 0 1em;    border: 1px solid white;    text-decoration: none;}
.cp-notice > .cp-content a.cp-close:hover {    background-color: white;    color: black;}


.footer { width: 100%;   background-color: #495565; color: #999999; padding:15px 0;}
.footer a, .footer a:hover { color: #FFFF; }
.footer h1, .footer h3 { color: #FFFFFF; font-size: 22px; line-height: 1.5;}
.footer h4 { color: #FFFFFF; font-size: 14px; padding-top:15px; }
.footer .logo { width: 200px;  }

.footer ul {  margin:0;   padding:0; margin-bottom: 20px;  list-style: none;  }
.footer ul > li {  margin-bottom:5px; }
.footer ul li a, footer ul li a:hover { color: #FFFFFF;  font-size: 16px;}

.footer .menu li {  color: #999999; font-size: 14px; display: inline-block; }
.footer .menu > li + li:before {  padding:0 15px;  color: #999999;  content: "|"; }
.footer .menu a {  color: #999999; font-size: 14px;}


.social li { display: inline-block; margin-top:5px; }
.social ul li a { text-align: center; color:#FFFFFF; font-size: 20px; width: 38px;  height:38px; padding-top:4px;  margin-right:2px; text-decoration: none; display:block; -webkit-transition: all 0.31s ease; -moz-transition: all 0.31s ease; -ms-transition: all 0.31s ease; -o-transition: all 0.31s ease; transition: all 0.31s ease; }
.social ul li a:hover { text-decoration: none;   font-size: 20px;}
.social ul li a { -webkit-border-radius: 50%;  -moz-border-radius: 50%; border-radius: 50%;}

	.social a.facebook:hover { background: #3b5996; }
	.social a.twitter:hover { background: #00acee; }
	.social a.youtube:hover { background: #cb322c; }
	.social a.linkedin:hover { background: #0073b2; }

.aviso {background:#9f0e47;  min-height:50px; color: #FFFFFF; font-size: 34px; font-weight: 300; padding:30px 0px 30px 0px; }
.js-razas { width: 100% }

.footer .socialfollow { border-bottom: 0px solid #969595 ; }
.footer .socialfollow a { -webkit-border-radius: 50%;  -moz-border-radius: 50%; border-radius: 50%;}

	.socialfollow a { text-align: center;  width: 42px;  height:42px; padding: 10px; margin-right:8px; float: left; text-decoration: none; display: block; -webkit-transition: all 0.31s ease; -moz-transition: all 0.31s ease; -ms-transition: all 0.31s ease; -o-transition: all 0.31s ease; transition: all 0.31s ease; }
	.footer-in .socialfollow a:hover { text-decoration: none; }


.socialfollow a {   background: #2980b9;    width: 42px;    height: 42px;    text-align: center;    padding-top: 8px;    float: left;    text-decoration: none;    display: block;    transition: all 0.31s ease 0s;    border-radius: 50px;}
	.socialfollow a.web:hover { background: #059cd7; }
	.socialfollow a.facebook:hover { background: #3b5996; }
	.socialfollow a.twitter:hover { background: #00acee; }
	.socialfollow a.vimeo:hover { background: #0dadd6; }
	.socialfollow a.dribble:hover { background: #d53e68; }
	.socialfollow a.youtube:hover { background: #cb322c; }
	.socialfollow a.pinterest:hover { background: #cb2027; }
	.socialfollow a.google:hover { background: #c3391c; }
	.socialfollow a.linkedin:hover { background: #0073b2; }
	.socialfollow a.rss:hover { background: #f29a1d; }
	.socialfollow a.instagram:hover { background: #457399; }
	.socialfollow a.other-social:hover { background: #ff5d5e; }
	.socialfollow a.whatsapp:hover { background: #25d366; }

	.socialfollow img { opacity: 0.79; }
	.socialfollow i { font-size: 22px; color: #fff; opacity: 0.95; }
	.socialfollow i.fa-whatsapp { font-size: 26px; color: #fff; opacity: 0.95; }

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {    border-top: 0px solid transparent; }

.claim {   font-family: 'Open Sans', Trebuchet MS, Helvetica, Arial, sans-serif; font-weight:300; font-size: 14px;  letter-spacing: .8px; }

.cierre { padding: 10px 0 10px 0;} 
.cierre ul {  margin:0;   padding:0; margin-top: 10px;  list-style: none; text-align: right; }
.cierre ul > li {  display: inline-block;  color:#999999; }
.cierre ul > li + li:before {  padding: 0 5px;  color: #ccc;  content: "|"; }
.cierre ul li a, cierre ul li a:hover { color: #999999; }
.cierre .claim { font-size: 18px;} 

.ico-publi { width: 30px; height: 30px; color:#FFFFFF;  background-color: black;  border: 0px solid black; float:left;  margin-right:10px;  text-align: center;  font-size: 14px; margin-top:-5px;}
.ico-publi .fa-file-text-o { padding-top: 8px;}
.ico-publi .fa-eur { padding-top: 9px;}
.doc_1 { border-top: 1px solid #a9a9a9; padding: 20px 0 20px 0; }
.doc_2 { border-top: 1px solid #a9a9a9; border-bottom: 1px solid #a9a9a9; padding: 15px 0 20px 0;  }


.contacto{  position:fixed; z-index: 99; bottom: 0px; right:0px; display:none;}
.form_pop_contacto {  background: #1D1D1D; padding:15px; width: 225px; height: 314px; }
.msg_pop {  text-align: center; font-size: 14px; font-weight:400;  } 

.contacto h3 { color: #FFFFFF; font-size: 14px; font-weight:400; padding-top: 8px; text-align: center;}
#trapezoid { border-bottom: 30px solid #1D1D1D; border-left: 15px solid transparent; border-right: 15px solid transparent; height: 0; width: 225px; cursor:pointer; }


.btn-verde {    color: #fff;    background-color: #029390;    border-color: #029390; }
.btn-verde:hover {    color: #fff;    background-color: #028b88;    border-color: #028b88; }
.verif { display:none; }


/*.bg_negro a, .bg_negro a:hover { color: #969595;} */
.logo-footer { margin-left: -10px; margin-top:15px;   } 
.logo-footer img { width: 150px;} 
.sin_padd_left  { padding-left:0px;  padding-right: 15px; }
.sin_padd_right { padding-left:15px; padding-right: 0px; }
.sin_padd { padding-left:0px; padding-right: 0px; }



h1.pnf404 {    font-size: 176px; line-height: 1.1;    font-weight: 900; }
h2.pnf404 {    font-size: 42px;  line-height: 1.2;    font-weight: 700; }
.tx_marron	{ color: #ac7c4a; } 
.tit_ultimos { color: #ac7c4a; font-size: 16px;  margin-bottom:10px;  text-align: center; }
.tx_ultimos {  font-size: 14px; color: #000000; padding:10px 10px 0px 10px; }

.bg_negro_footer	{ background: #171D25; color:#FFFFFF; border-top:1px solid #FFFFFF;} 
.bg_negro_footer a	{ color:#FFFFFF; text-decoration:none; }
.bg_yellow	{ background: yellow; color:#000000;}  
.bg_negro	{ background: #000000; color:#FFFFFF;} 
.bg_negro2	{ background: #1D1D1B; color:#FFFFFF;} 
.bg_interactiva { background:  #7E9A12; padding:15px;}
.etiqueta_categoria_interactiva { background-color:  #7E9A12; }

.bg_marron	{ background-color: #ac7c4a; } 
.bg_rojo	{ background-color: #9D1239; color:#FFFFFF; } 
.bg_gris	{ background-color: #eeeeee; }  
.bg_gris2	{ background-color: #f5f5f5; }  
.bg_gris3	{ background-color: #cdcdcd; }  
.bg_gris4	{ background-color: #dfdede; }
.bg_blanco	{ background-color: #FFFFFF; }
.bg_verde	{ background-color: #70B28C; color:#FFFFFF; }
.bg_grey	{ background-color: #919191; color:#FFFFFF; }



h3.bg_verde	{ padding:10px 0; }
h3.bg_rojo	{ padding:10px 0;  margin-top: 0px; }

h2 { font-size: 32px;  margin-top: 10px; margin-bottom: 10px;} 
.ico { background-color: #ac7c4a; width: 30px;  height: 30px; margin-right: 10px; color: #FFFFFF; float:left;  text-align: center;} 
.ico i {  font-size: 18px; padding: 5px 0 0 0px; } 

.ico-profesionales { background-color: #ac7c4a; width: 100px;  height: 100px; margin: 20px auto; } 
.ico-profesionales i {  font-size: 45px; padding-top: 25px; } 
.tx_ico {    font-size: 16px;  line-height: 1.2;    font-weight: 300; margin-bottom:20px;} 
.tx_home { font-size: 18px; line-height: 1.5;   margin-top:20px;  margin-bottom:20px;} 

.caja_blanca {  margin:15px 0 15px 0; padding-right: -15px; /*min-height:390px;*/
border-width: 1px;
border-style: solid;
-moz-border-top-colors: none;
-moz-border-right-colors: none;
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
border-image: none;
border-color: #E5E6E9 #DFE0E4 #D0D1D5;
}
.caja_blanca.center-block { margin-right: auto; margin-left: auto; }
.caja_blanca.center-block.noticias img { width: 100%; }

.publicacion_cat .resumen_publicacion a.tx_marron, .publicacion_cat .resumen_publicacion a.tx_marron:hover {  font-size: 13px; color: #AC7C4A; }
.tit-video {  margin-top: 50px; font-size: 28px; font-family: "Fauna One",serif;}
.subtit-video {   margin-top: 10px; font-size: 16px; font-weight: 400; line-height: 1.6; letter-spacing: -0.5px; font-family: "Fauna One",serif;}
.texto-video {  margin-top: 35px;  font-size: 16px; font-weight: 400; line-height: 1.6; letter-spacing: -0.5px; font-family: "Fauna One",serif; }
.ver_video {position:absolute; bottom: 15px; left: 30px;}
.ver_video img {     opacity: 0.8;    filter: alpha(opacity=80); /* For IE8 and earlier */ 
        -webkit-transition: opacity .15s ease-in-out;
        -moz-transition: opacity .15s ease-in-out;
        -ms-transition: opacity .15s ease-in-out;
        -o-transition: opacity .15s ease-in-out;
        transition: opacity .15s ease-in-out;
}
.ver_video img:hover {     opacity: 1;    filter: alpha(opacity=100); /* For IE8 and earlier */ }


.img-qr { width: 120px; }
.tx_qr { padding-top: 15px; font-size: 16px; }

.caja_borde {  margin-top:15px; padding-top:15px; border-width: 1px; border-style: solid;-moz-border-top-colors: none;-moz-border-right-colors: none;-moz-border-bottom-colors: none;-moz-border-left-colors: none;border-image: none;border-color: #E5E6E9 #DFE0E4 #D0D1D5;}
.caja_fotos { margin: 15px  0 0px 0px; padding-bottom:15px;}
.caja_tx { padding-left:30px; padding-right: 30px; }
.caja_tx .resumen_publicacion { font-size: 18px;  line-height:32px;}
.caja_tx .descripcion_publicacion { font-size: 14px; line-height:28px;}


.ficha .titulo_publicacion { font-size: 16px;  color: #000000; font-weight: 700;  padding: 15px 15px 0 0px; }
.ficha .resumen_publicacion {  font-size: 18px; color: #000000; margin-bottom: 25px; }
.ficha .resumen_publicacion a, .ficha .resumen_publicacion a:hover {  font-size: 14px; color: #000000;  }
.ficha .descripcion_publicacion { margin-top: 25px; font-size: 17px; line-height: 1.62; }

.bg_marron h2	{ color: #FFFFFF; } 
.bg_marron h2 b	{ color: #FFF000; } 

.bg_rojo h4 { color: #FFFFFF; padding:15px; } 
.bg_verde h4 { color: #FFFFFF; padding:15px; } 


.fancybox-skin  { background: #AC7C4A; }
.fancybox-close {     top: -34px;    right: -1px;    cursor: pointer;    z-index: 8040; }
.fancybox-title-inside-wrap { padding: 15px; }

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {   background-color: #237AB3; }
.navbar-default .navbar-toggle .icon-bar {    background-color: #FFF; }

.f_0 {	font-size: 14px;	padding: 5px;	background: #f3f3f3; }
.f_1 {	font-size: 14px;	padding: 5px;	background: #FFFFFF; }

.leido_0 {	font-size: 14px;	font-weight: 700; color: #000000; }
.leido_1 {	font-size: 14px;	font-weight: 400; color: #000000; }


.tx_16 { font-size: 18px; padding-top:15px; line-height: 3;}
.tx_16:hover { color: #000000; }

@-moz-keyframes blink {0%{opacity:1;} 50%{opacity:0;} 100%{opacity:1;}} /* Firefox */
@-webkit-keyframes blink {0%{opacity:1;} 50%{opacity:0;} 100%{opacity:1;}} /* Webkit */
@-ms-keyframes blink {0%{opacity:1;} 50%{opacity:0;} 100%{opacity:1;}} /* IE */
@keyframes blink {0%{opacity:1;} 50%{opacity:0;} 100%{opacity:1;}} /* Opera and prob css3 final iteration */
.blink{
-moz-transition:all 1s ease-in-out;
-webkit-transition:all 1s ease-in-out;
-o-transition:all 1s ease-in-out;
-ms-transition:all 1s ease-in-out;
transition:all 1s ease-in-out;
/* order: name, direction, duration, iteration-count, timing-function */  
-moz-animation:blink normal 2s infinite ease-in-out; /* Firefox */
-webkit-animation:blink normal 2s infinite ease-in-out; /* Webkit */
-ms-animation:blink normal 2s infinite ease-in-out; /* IE */
animation:blink normal 2s infinite ease-in-out; /* Opera and prob css3 final iteration */
}

#div_fotos { margin-bottom: 25px; }

.info { cursor:pointer; font-size: 18px;  color: #ac7c4a; }
#nota-informativa {
	padding:15px; /*Espaciado interno*/
	width:300px; /*Ancho del contenedor*/
	text-align:left; /*Alineación del texto*/
	background-color:#FFEE88; /*Color de fondo*/
	position:absolute; /*Permite que se mantenga estático*/
	z-index:999;
	left:100px; /*Separación del borde izquierdo*/
	margin-top: -20px;
	margin-left: 30px;
	box-shadow:0 0 5px #555; /*Sombras CSS3*/
	display:none;

	-moz-transition:all 1s ease-in-out;
	-webkit-transition:all 1s ease-in-out;
	-o-transition:all 1s ease-in-out;
	-ms-transition:all 1s ease-in-out;
	transition:all 1s ease-in-out;
}

.compartir_con .tx{ width:100%; overflow:hidden;}

.publicacion_cat,
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

.leyenda { margin-bottom:10px; }
.leyenda .btn-sm{ width:35px; }
#album .foto  { opacity: 0; -webkit-transition: all 0.31s ease; -moz-transition: all 0.31s ease; -ms-transition: all 0.31s ease; -o-transition: all 0.31s ease; transition: all 0.31s ease; }



.form-control, .bootstrap-select { margin-bottom:10px; }
.filter-option { color: #555;}


#anuncios .icon-menu-slide, #actividades .icon-menu-slide, #videos .icon-menu-slide, #noticias .icon-menu-slide { margin-top: 15px; }
.icon-menu-slide { font-size:30px; color: #AC7C4A; position:absolute; right:17px;  z-index:999; margin-top: 30px; }
.icon-menu-slide:hover { color: #AC7C4A; }
.icon-menu-slide-close { font-size:30px; color: #FFFFFF; position:absolute; right:17px;  z-index:999;}
.icon-menu-slide-close:hover { color: #FFFFFF; }

.menu_movil {position:fixed; background-color: #AC7C4A;  width:100%; height:100%; z-index:999; right: -768px; top:0px; padding-top:65px; display:none;}

.menu_movil.menu_cuenta {   margin: 0px 0px;   padding-left: 0px; }
.menu_movil.menu_cuenta #menu{  /* margin-top:40px; */ }
.menu_movil.menu_cuenta li a {    color: #FFF;    font-size:18px;  padding: 5px 15px; }
.menu_movil.menu_cuenta li a:hover {  border-color: none;  color: #000000;}
.menu_movil.menu_cuenta a.active {     color: #000000;    font-weight: 600; }


.div_suscripcion {color: #FFFFFF; padding-left: 15px; }
.div_suscripcion i{ padding-right: 10px; font-size:20px; }
.div_suscripcion .bt_suscripcion_newsletter { margin-left: 15px;  padding: 5px 15px;}


.iframeSuscripcion {  width: 100%;  height: 620px; }
.iframeSuscripcionEstudiantes {  width: 100%;  height: 690px; }

.user-talk {    background-color: #EDEDED;   padding: 15px 25px 15px 25px;    margin-top: 15px;  border-radius:3px;		-moz-border-radius:3px;		-webkit-border-radius:3px; }

#form_suscripcion h3{ font-size: 18px; margin:10px 0 10px 0px;}

#form_suscripcion li input[type="radio"]{ margin-right:6px;}
#form_suscripcion ul {    margin: 0px;  padding:0;  list-style: outside none none;}
#form_suscripcion li {    margin: 0px 0px 5px 15px;    font-size: 12px; }
.datos_bancarios {   margin-top: 10px;   display: none; }


/******************************************/
/*
#form_suscripcion input[type="text"]{ margin-bottom:6px; margin-right:6px; height: 34px; padding: 6px 12px; font-size: 14px; line-height: 1.42857; color: #555; background-color: #FFF; background-image: none; border: 1px solid #CCC; border-radius: 4px; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset; transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
*/
#form_suscripcion input[type="text"]{
  height: 38px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
		  /*margin:0 10px 10px 10px;*/
		  margin-bottom:5px;
}
#form_suscripcion .c1 { width: 40%; }
#form_suscripcion .c2 { width: 18%; }
#form_suscripcion .c3 { width: 32.6%; }
#form_suscripcion .c4 { width: 49.2%; }
#form_suscripcion .c6 { width: 99%; }




#video_player  { width: 100%; position: relative; } 
#content_video { width: 100%; position: absolute; z-index:99;  display:none;
        -webkit-transition: opacity .15s ease-in-out;
        -moz-transition: opacity .15s ease-in-out;
        -ms-transition: opacity .15s ease-in-out;
        -o-transition: opacity .15s ease-in-out;
        transition: opacity .15s ease-in-out;
} 

#video_player { height:auto; } 
#content_video { height:100%; } 

#form_privado { text-align: center; }

.caja_texto_video	{ position: absolute; top: 30px; margin-left: 30px;  margin-right: 30px;  text-shadow: 0 0px 3px rgba(0,0,0,0.17); background: rgba(000, 000, 000, 0.60); padding:15px; color: #FFFFFF; }
.btn-ver_video		{ position: absolute;  z-index:98; bottom: 30px; margin-left: 30px;  margin-right: 30px;  }
.btn-ver_video img {     opacity: 0.6;    filter: alpha(opacity=60); /* For IE8 and earlier */ 
        -webkit-transition: opacity .15s ease-in-out;
        -moz-transition: opacity .15s ease-in-out;
        -ms-transition: opacity .15s ease-in-out;
        -o-transition: opacity .15s ease-in-out;
        transition: opacity .15s ease-in-out;
}
.btn-ver_video img:hover {     opacity: 1;    filter: alpha(opacity=100); /* For IE8 and earlier */ }


.link-ver_video		{ position: absolute;  z-index:98; bottom: 30px; margin-left: 30px;  margin-right: 30px;  }
.link-ver_video img {     opacity: 0.6;    filter: alpha(opacity=60); /* For IE8 and earlier */ 
        -webkit-transition: opacity .15s ease-in-out;
        -moz-transition: opacity .15s ease-in-out;
        -ms-transition: opacity .15s ease-in-out;
        -o-transition: opacity .15s ease-in-out;
        transition: opacity .15s ease-in-out;
}
.link-ver_video img:hover {     opacity: 1;    filter: alpha(opacity=100); /* For IE8 and earlier */ }


.btn-close_video		{ position: absolute;  z-index:100; top: 15px; right: 15px;  background: rgba(000, 000, 000, 0.60);   color: #FFFFFF;    text-transform: uppercase;    font-weight: 700; display:none; }
.btn-close_video:hover { color: #FFFFFF; background: rgba(000, 000, 000, 1);  }

.caja_texto_video .titular { font-size: 26px; padding:0; margin:0;}
.caja_texto_video a { color:#FFFFFF;   }
.bg_adtitud_tv { background: #ece3bc }
.bg_adtitud_tv .avance {color: #000000; }




.content-ad  {    height: 1000px;    position: absolute;    z-index: 3;    min-width: 120px;   margin-top: 20px;}
.content-ad.left { right: -150px; }
.content-ad.right{ left:  -150px;  }



.pop-suscripcion { position:fixed; z-index: 999; bottom:0; right:10px; width: 430px; height:360px; background: #000000; display:none; }
.close-pop { position:absolute; top:0; right:0; }
#iframe_pop_suscripcion_newsletter { width:100%; height:100%; margin:0; padding:0; }


.precio { font-size:32px; line-height:1.8; }
.tx_18  { font-size:18px; }

.btn-suscribete, .navbar-default .navbar-nav > li > a.btn-suscribete {   border-color: #000000;  background-color: #000000;   color: #FFFFFF;  text-shadow: none; display: inline-block;}
.btn-suscribete:hover, a.btn-suscribete:focus, .btn-suscribete.focus, .btn-suscribete:active, .btn-suscribete.active, .open > .dropdown-toggle.btn-suscribete {   color: #FFFFFF;   background-color: #347bb2;   border-color: #347bb2; }
#iframeSuscripcion { margin-top:10px; }



.btn-accion, .navbar-default .navbar-nav > li > a.btn-accion { border-color: #609ed0;  background-color: #609ed0;   color: #FFFFFF;  text-shadow: none; display: inline-block;   padding: 8px 50px;   border-radius: 0px;}
.btn-accion:hover, a.btn-accion:focus, .btn-accion.focus, .btn-accion:active, .btn-accion.active, .open > .dropdown-toggle.btn-accion {   color: #FFFFFF;   background-color: #6bb1ea;   border-color: #6bb1ea; }
.n_coment { float:left; margin-right: 25px;  color: #5e9ecf; font-size:18px; padding-top:5px;  } 
.n_coment a { color: #5e9ecf; font-size:18px; padding-top:5px;  } 
.n_coment .fa { font-size:22px; } 
.comentarios_nombre{ font-size:16px; font-weight:bold; color: #609ed0; }
.comentarios_opinion {font-size:16px; }
.btn-volver { float:right; margin-top:15px; }
#form_participa label { font-weight:normal; }
#form_participa .politica_privacidad, #form_participa .politica_privacidad a { color: #000000; }
.tx_respuesta { font-size:22px;  color: #000000; }

.ad_server_iframe { margin:15px auto;  text-align: center; }
.ad_server_iframe_lat { margin-top: 15px; margin-left: 30px; }

#premios-ctrl .iframe_videoyoutuve {  width: 100%; height: 295px; }
.tab_galery { margin-bottom: 30px;}
.tab_galery a { display: inline-block;}
.tab_galery .fancybox { padding:1px; } 

#form_baja { font-family: "Fauna One",serif; }
#form_baja .btn { font-family: 'Roboto', sans-serif; }
.list_baja { list-style-type: none; margin:15px 0 15px 0;  padding: 0;   }
.list_baja li { padding: 0px 0px 5px 0px; }

.list_baja input[type="radio"] { display:none; }
.list_baja input[type="radio"] + label {	margin-right:10px; }
.list_baja input[type="radio"] + label span {     display:inline-block;    width:20px;    height:20px;    vertical-align:middle;    background:url(../images/check_radio_sheet.png) 0px top no-repeat;    cursor:pointer; }
.list_baja input[type="radio"]:checked + label span { background:url( ../images/check_radio_sheet.png) -20px top no-repeat; }

.btn-magenta, .navbar-default .navbar-nav > li > a.btn-magenta { border-color: #ba3978;  background-color: #ba3978;   color: #FFFFFF;  text-shadow: none; display: inline-block;   padding: 8px 50px;   border-radius: 0px;}
.btn-magenta:hover, a.btn-magenta:focus, .btn-magenta.focus, .btn-magenta:active, .btn-magenta.active, .open > .dropdown-toggle.btn-magenta {   color: #FFFFFF;   background-color: #ba3978;   border-color: #ba3978; }

.btn-naranja, .navbar-default .navbar-nav > li > a.btn-naranja { border-color: #ffc000;  background-color: #ffc000;   color: #FFFFFF;  text-shadow: none; display: inline-block;   padding: 8px 50px;   border-radius: 0px;}
.btn-naranja:hover, a.btn-naranja:focus, .btn-naranja.focus, .btn-naranja:active, .btn-naranja.active, .open > .dropdown-toggle.btn-naranja {   color: #FFFFFF;   background-color: #ffc000;   border-color: #ffc000; }

.tit_evento { font-size:30px; }
.tx_evento { font-size:18px; }



#premios-control-2018 { background-color: #eeeeee; }
.btn-azul, .navbar-default .navbar-nav > li > a.btn-azul {   border-color: #347bb2;  background-color: #347bb2;   color: #FFFFFF;  text-shadow: none; display: inline-block;}
.btn-azul:hover, a.btn-azul:focus, .btn-azul.focus, .btn-azul:active, .btn-azul.active, .open > .dropdown-toggle.btn-azul {   color: #FFFFFF;   background-color: #347bb2;   border-color: #347bb2; }
.tx_azul { color: #347bb2;  }
.bg_gris4 { background-color: #dfdede; }

.sana_envidia { /*display: flex;*/  }
.sana_envidia h2 { margin-top:0px; }
.pop_vid { position:fixed; height:100%; width: 100%; display:none; top:0; z-index:99999; }
.pop_container	{ display: table; height:100%; width: 100%; background:#000000; } 
.pop_content	{ display: table-cell; vertical-align: middle;	text-align: center;  background: url('../images/fondo_spot.jpg'); background-size: cover; height: 100%;}
.close { position:absolute; top:20px; right:20px; z-index:1040; opacity: 1; color:#FFFFFF; font-size:20px; text-shadow: 1px 1px 2px #000; }
.close:hover { color:#FFFFFF; opacity: 1;}
#bgvid { width: 100%;  height: auto;}

.timer_saltar_anuncio { position:absolute; bottom: 28px; right:0px; z-index:99040;  color:#e9e9e9; font-size:18px; padding: 0px 0px 0px 15px; display:none; background: rgba(29, 29, 27, 0.60); webkit-transition: all 0.31s ease-in-out; -moz-transition: all 0.31s ease-in-out; -ms-transition: all 0.31s ease-in-out; -o-transition: all 0.31s ease-in-out; transition: all 0.31s ease-in-out; }
#next { padding-left:15px; width: 70px; }

.saltar_anuncio { display:none;  position:absolute; bottom: 28px; right:0px; z-index:99040;  color:#e9e9e9; font-size:18px; border:1px solid #e9e9e9; padding: 5px 15px; background: rgba(29, 29, 27, 0.60); webkit-transition: all 0.31s ease-in-out; -moz-transition: all 0.31s ease-in-out; -ms-transition: all 0.31s ease-in-out; -o-transition: all 0.31s ease-in-out; transition: all 0.31s ease-in-out; }
.saltar_anuncio:hover { background: rgba(29, 29, 27, 1); border:1px solid #FFFFFF; color:#FFFFFF;}

.link_preroll { display:none; position:absolute; top:0; z-index:1030; width:100%;    height:100%; cursor:pointer; }


/*.patrocinador { position:absolute; top: 252px; width: 100%; } */
.patrocinador { position:absolute; top: 240px; /*bottom:0px;*/ cursor:pointer;  }
.patrocinador_det { cursor:pointer; }

.tit_sana {   font-size: 18px;    line-height: 1.6;    font-family: "Fauna One",serif; color: #000000; margin-top: 25px;    }
.foto_video {  margin-bottom:15px; margin-bottom:20px; }


.ad { margin-top: 30px; margin-bottom: 30px; position:relative; /* height: 0; */ }
.ad-label { background: #FFFFFF; color: #AAAAAA; text-align:center; font-size: 12px; padding:3px 0; }
.link_ad_content { position:absolute; top:0; left:0; z-index:99040; height:100%; width: 100%;  }
.close_ad_content { position:absolute; top:25px; right:15px; z-index:99045; color:#AAAAAA;   }
a.close_ad_content:hover { color:#CCCCCC;   }


.suscribete-ctrl { margin-top: 10px;}



.parent-zoom img{		-webkit-transition-property: opacity;		-webkit-transition-duration: 200ms;		-webkit-transition-timing-function: ease;		cursor:  cell;		cursor: -moz-zoom-in;		cursor: -webkit-zoom-in;		border: 0;	}
.zoomy{		position: absolute;		visibility: hidden;		background-repeat: no-repeat;		-webkit-box-shadow: 0px 5px 10px #000;		-moz-box-shadow: 0px 5px 10px #000;		filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=1, Color='#3333333', Positive='true');		border: 0px solid #333;
		line-height: 100px;
		text-align: center;
		background-color: #fff;
		z-index: 1000;
		overflow: hidden;
		cursor: url(../images/blank.cur), move;
		-webkit-transition-property: border-width, border-color, opacity;
		-webkit-transition-duration: 500ms, 1s, 500ms;
		-webkit-transition-timing-function: ease;
		border: 3px solid #fff;
}
.zoomy span{
		display: block;
		margin: 5px auto;
		background: -moz-linear-gradient(top, rgba(255,255,255,.6) 0%, rgba(255,255,255,0) 100%); /* firefox */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.6)), color-stop(100%,rgba(255,255,255,0))); /* webkit */
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#55FFFFFF, endColorstr=#00ffffff);
		-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#55FFFFFF, endColorstr=#00ffffff);
}


.zoomy a{	color: #333;	text-decoration: none;	outline: 0;}

.inactive img{	opacity: 0.85!important;	filter:alpha(opacity=85)!important;}

.zoomy #tmp{	max-width: none !important;	max-height: none !important;	width: auto !important;	height: auto !important;	top: -999999px;	left: -999999px; }

/******************************************/

@media (min-width: 992px) { 

}

@media (max-width:1200px) { 
	.img_n3 {  height: 372px;}


	.img_n1	{ height: 290px; }
	#home .videos .img_n2	{ height: 90px; }

	.img_n1.video img  {  position: static;  }
	.img_n1.video {    height: auto; }
	.img_n2.video {    height: 149px; }
		.suscribete-ctrl { margin-top: 0px;}

}



@media (max-width:991px) { 
	.navbar-default .navbar-nav > li > a {    font-size: 14px;}
	.btn-accion, .navbar-default .navbar-nav > li > a.btn-accion  { padding: 5px 25px;}
	.nav > li > a {    padding: 15px 6px 10px 6px;}


	.blogs h3 {font-size: 17px; line-height: 1.3; letter-spacing: -0.5px;		min-height: 85px; }
	.blogs .blog_img {    float: none; text-align: center; }
	.blogs .nombre_blog { float: none; text-align: center;   margin-left: 0px;    width: 100%;    display: table; }

	.noticia.n2 h2 {    font-size: 17px; }
	.img_n1 {    height: 210px;}
	.img_n3 { height: 276px;  }

	.table-cell	{  float: left; margin-bottom:15px; }

	#home .videos .img_n1	{ height: 228px; }
	#home .videos .img_n2	{ height: 60px; }


	.img_n2.video img  {  position: static;  }
	.img_n2.video {    height: auto; }
	.noticia.n2 {    min-height: 305px; }

	.social-share	{ text-align: left; }
	.social-share .socialfollow a {   float:left; margin-right:10px; margin-bottom:10px;}
	.socialfollow a { float:left; margin-right:10px; margin-bottom:10px;  }

	.nav2 .tx2 a {    font-size: 15px; }


}



@media (max-width:767px) { 


	.cierre .claim {    font-size: 16px; }
	.cierre ul { text-align: left; }

	.btn { margin-bottom: 10px; }
	.btn-buscar, .dropdown-toggle {  margin-bottom: 0px;}
	.navbar-default .navbar-nav > li > a {    font-size: 16px;}
	

	h2 {    font-size: 20px;}
	.tx_14 {    font-size: 12px;}
	.tx_16 {    font-size: 14px; line-height: 1.3;}
	.nav > li > a {    padding: 15px 15px;}


	.footer .menu li {  color: #999999; font-size: 14px; display: block; }
	.footer .menu > li + li:before {  padding:0 0px;  color: #999999;  content: ""; }
	.footer .menu {  border-bottom: 1px solid #999999;}

	.logo_grupocontrol { text-align: left;}
	.logo_grupocontrol img { width:150px; }
	.nav1 .socialfollow_header {top: 45px; }

	.nav1 .social ul li a { font-size: 20px; width: 34px;  height:34px; padding-top:2px; margin-right:2px; }
	.nav1 .social ul li a:hover { font-size: 20px;}
	.nav2 .tx2 {font-size: 14px; text-align: center;}

	.ad_server_lat { text-align: center;}

	.img_n1 img, .img_n2 img  {  position: static;  }
	.img_n1  {    height: auto;}
	#home .noticia.n2 .etiqueta_categoria{ top: -10px; }
	#home .noticia.n2 { margin-bottom: 30px; }

	.img_n2 { height: auto;  }
	.img_n3 { height: auto;  }

	.noticias_rel {  /*  height: 150px; */ height:auto; }
	.noticias_rel img {	position: relative; }

	

	.videos.n1 { min-height: 280px; margin-bottom:15px; }
	.videos.n2 { min-height: 280px; margin-bottom:15px; }

	.videos.n1 .iframe_video { width: 100%; height: 250px;}
	.videos.n2 .iframe_video { width: 100%; height: 250px;}

	.videos.n1 h2 {    font-size: 17px; font-weight: 400; line-height: 1.3; letter-spacing: -0.5px;} 
	.videos.n2 h2 {    font-size: 17px; font-weight: 400; line-height: 1.3; letter-spacing: -0.5px;} 
	.sin_padd_left{ padding-left:15px;  padding-right: 15px; }


	#home .videos .img_n1	{ height: auto; }
	#home .videos .img_n2	{ height: auto; }

	.img_n2.video {    height: auto; }

	.noticia.n4 { min-height: 200px; }
	/*.tit_noticias_relaccionada { font-size: 12px; line-height: 1.1;}*/
	.img_n4 {   height: 89px; }

	#iframe_suscripcion_newsletter { height:480px;  }
	/*.detalle {    font-size: 14px;    line-height: 1.4; }*/

	.titular{   font-size: 28px;  }
	.sin_padd_right { padding-left:15px; padding-right: 15px; }
	.iframeSuscripcion	  { height: 932px; }
	.iframeSuscripcionEstudiantes { height: 980px; }


	.caja_texto_video	{ top: 15px;    margin-left: 15px;    margin-right: 15px; }
	.btn-ver_video		{ bottom: 15px;   margin-left: 15px;  margin-right: 15px; }
	.caja_texto_video .titular {    font-size: 20px; }
	.btn-ver_video img { width: 50px; height: 50px;} 

	.patrocinador { position:relative; top:0px;}
	.img_portada { margin-bottom:10px; }

}

@media(min-width:768px) {
    .top-nav-collapse { padding: 0; }

}

@media (max-width:450px) { 
	#form_suscripcion .c1 { width: 100%; }
	#form_suscripcion .c2 { width: 100%; }
	#form_suscripcion .c3 { width: 100%; }
	#form_suscripcion .c4 { width: 100%; }
	#form_suscripcion .c6 { width: 100%; }

}
@media  (max-width:320px)  {
	.cierre .claim {    font-size: 12px; }
	.cierre ul li a, cierre ul li a:hover {  font-size: 12px; }

	.img_n1, .img_n2 {    height: 270px; }
	.noticias_relaccionadas { font-size: 18px; }
	.img_n2.noticias_rel {    height: 140px; }
	.img_n4 img {   position: static; }
	#form_suscripcion li {    font-size: 12px; }

	.sin_padd_left  { padding-left:15px; padding-right: 15px; }
	.sin_padd_right { padding-left:15px; padding-right: 15px; }
	.sin_padd		{ padding-left:15px; padding-right: 15px; }

	.noticia h1 {    font-size: 28px; }

	.caja_texto_video .titular {    font-size: 16px; }

	

}

/* brand day */
/*
body {	background: url("../images/bd_kanlli/fondo.gif") center top no-repeat;  background-attachment: fixed;}
@media(min-width:1200px) {
	.container {    width: 970px; position:relative; }
}
header .bg_gris { background-color: transparent; }
.container.principal { background-color: #FFFFFF; }
#brand_1 { display: block;    position: fixed;  z-index:998;  left: 50%;    margin-left: -932px;    margin-right: 0pt;    top: 0px;    height: 100%;    width: 28em; }
#brand_2 { display: block;    position: fixed;  z-index:998;  left: 50%;    margin-left: 485px;     margin-right: 0pt;    top: 0px;    height: 100%;    width: 28em; }
#brand_1 img, #brand_2 img { width: 100%; height:100%; }
.img_n1 {    height: 358px; }
.img_n2 {    height: 150px; }
.patrocinador {    padding-right: 30px; }
*/
/******/